﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title | TMO</title>
    <!-- Iconic Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/LoginTemplate/iconic-fonts/flat-icons/flaticon.css"/>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/LoginTemplate/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="~/Content/LoginTemplate/css/jquery-ui.min.css" rel="stylesheet">
    <!-- Mystic styles -->
    <link href="~/Content/LoginTemplate/css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon.ico">
</head>
<body class="ms-body ms-primary-theme">
    <!-- Preloader -->
    <div id="preloader-wrap">
        <div class="spinner spinner-8">
            <div class="ms-circle1 ms-child"></div>
            <div class="ms-circle2 ms-child"></div>
            <div class="ms-circle3 ms-child"></div>
            <div class="ms-circle4 ms-child"></div>
            <div class="ms-circle5 ms-child"></div>
            <div class="ms-circle6 ms-child"></div>
            <div class="ms-circle7 ms-child"></div>
            <div class="ms-circle8 ms-child"></div>
            <div class="ms-circle9 ms-child"></div>
            <div class="ms-circle10 ms-child"></div>
            <div class="ms-circle11 ms-child"></div>
            <div class="ms-circle12 ms-child"></div>
        </div>
    </div>

    <div class="ms-lock-screen-weather">
        <p>38&deg;</p>
        <p>Ankara, TR</p>
    </div>
    <!-- Main Content -->
    <main class="body-content ms-lock-screen">
        <!-- Body Content Wrapper -->
        @RenderBody()
    </main>
    <div class="ms-lock-screen-time">
        <p id="time"></p>
        <p id="date"></p>
    </div>
    <script type="text/javascript">
        window.onload = setInterval(clock, 1000);

        function clock() {
            var d = new Date();
            var date = d.getDate();
            var month = d.getMonth();
            var montharr = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];
            month = montharr[month];
            var year = d.getFullYear();
            var date = d.getDate();
            var day = d.getDay();
            var dayarr = ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"];
            day = dayarr[day];
            var hour = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
            var min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
            var sec = d.getSeconds();
            document.getElementById("date").innerHTML = day + " " + date + " " + month + " " + year;
            document.getElementById("time").innerHTML = hour + ":" + min;
        }
    </script>
    <!-- SCRIPTS -->
    <!-- Global Required Scripts Start -->
    <script src="~/Content/LoginTemplate/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/LoginTemplate/js/popper.min.js"></script>
    <script src="~/Content/LoginTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/LoginTemplate/js/perfect-scrollbar.js"></script>
    <script src="~/Content/LoginTemplate/js/jquery-ui.min.js"></script>
    <!-- Global Required Scripts End -->
    <!-- Mystic core JavaScript -->
    <script src="~/Content/LoginTemplate/js/framework.js"></script>
    <!-- Settings -->
    <script src="~/Content/LoginTemplate/js/settings.js"></script>

</body>
</html>
