﻿@model List<YeniOtomasyonSistemi.Models.UserIdMenuGetir_Result>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Content/LoginTemplate/img/tmo-tobb-lidas-logo.png" style="width:48px;height:48px" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">@Session["KullaniciAdi"]</span>
                        <span class="text-muted text-xs block">Detay <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.Action("Profil", "Account")">Profil</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout", "Security")">Çıkış</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    +
                </div>
            </li>

            @foreach (var item in Model.OrderBy(t => t.AnaMenuAdi).GroupBy(t => t.AnaMenuAdi))
            {
                <li>
                    <a href="#">
                        <i class="@item.Select(t=>t.IconAdi).FirstOrDefault()"></i>
                        <span class="nav-label">@item.Select(t => t.AnaMenuAdi).FirstOrDefault()</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse ">
                        @{ string Ad = item.Key;
                            var sorgu = Model.Where(t => t.AnaMenuAdi == Ad).OrderBy(t => t.AltMenuAdi).GroupBy(t => t.AltMenuAdi).ToList();
                            foreach (var item2 in sorgu)
                            {
                                <li>
                                    <a href='@Url.Action(item2.Select(t => t.ActionAdi).FirstOrDefault(), item2.Select(t => t.ControllerAdi).FirstOrDefault())'>
                                        @item2.Select(t => t.AltMenuAdi).FirstOrDefault()
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>