﻿@model Tuple<YeniOtomasyonSistemi.Models.KayisiLaboratuvarMetodlari.AnalizKalemleri, YeniOtomasyonSistemi.Models.KayisiLaboratuvarMetodlari.AnalizSonuclari, YeniOtomasyonSistemi.Models.KayisiLaboratuvarMetodlari.AnalizSonucuCikanUrunBilgileri, YeniOtomasyonSistemi.Models.LabLaboratuvarAnalizListesi>
@{
    ViewBag.Title = "LaboratuvarKayisiAnalizi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
        <h4 style="color:green;text-align:center;">Laboratuvar Kayısı Analiz Formu</h4>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3 style="color:green;text-align:center;">Analize Ait Bilgiler</h3>
                </div>
                <div class="ibox-content">

                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:10%;text-align:left;">Analiz No :</td>
                                <td style="width:35%;text-align:left;">@Model.Item4.AnalizNo</td>
                                <td style="width:15%;text-align:left;">Kantar No :</td>
                                <td style="width:30%;text-align:left;">@Model.Item4.KantarKayitNo</td>
                            </tr>
                            <tr>
                                <td>Analiz Tarihi</td>
                                <td>@Model.Item4.AnalizTarihi.ToString().Substring(0, 10)</td>
                                <td>Numune No :</td>
                                <td>@Model.Item4.NumuneNo</td>
                            </tr>
                            <tr>
                                <td>Ürün Kodu </td>
                                <td>@Model.Item4.TanUrunUstGuruplari.UrunUstGurupKodu</td>
                                <td>Durumu </td>
                                <td>@Model.Item4.Durumu</td>
                            </tr>
                            <tr>
                                <td>Ürün Adı </td>
                                <td>@Model.Item4.TanUrunUstGuruplari.UrunUstGurupAdi</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    @if (Model.Item2.BoyDerecesi != 0)
                    {
                        <a class="btn btn-primary btn-sm" style="margin-left:3px;" href='@Url.Action("LaboratuvarKayisiAnalizKaydet","Laboratuvar",Model.Item1)'><i class="fa fa-save"></i>  Analizi Kaydet</a>
                        <a class="btn btn-danger btn-sm" style="margin-left:3px;" href='@Url.Action("LaboratuvarKayisiAnaliziYazdir","Laboratuvar",new { id=Model.Item1.AnalizListesiId})' target="_blank"><i class="fa fa-print"></i>  Analizi Yazdır</a>
                    }
                </div>
            </div>
        </div>

        @if (Model.Item2.BoyDerecesi != 0)
        {

            <div class="col-lg-5">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h3 style="color:green;text-align:center;">Analiz Sonuçları</h3>

                    </div>
                    <div class="ibox-content">
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td style="color:orange;font-size:14px;">Genel Sonuçlar</td>
                                    <td></td>

                                </tr>

                                <tr>
                                    <td>Ürün Adı</td>
                                    <td>@Model.Item3.UrunAdi</td>

                                </tr>
                                <tr>
                                    <td>Ürün ISIN Kodu</td>
                                    <td>@Model.Item3.ISINKODU</td>

                                </tr>
                                <tr>
                                    <td>Ürün Kodu </td>
                                    <td>@Model.Item3.UrunKodu</td>

                                </tr>
                                <tr style="border:solid 1px;">
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td style="color:orange;font-size:14px;">Ayrıntılı Sonuçlar</td>
                                    <td></td>

                                </tr>


                                <tr>
                                    <td style="width:30%;">Kayisi Kukurt Tipi</td>
                                    <td style="width:70%;">@Model.Item2.KayisiKukurtTipi</td>

                                </tr>
                                <tr>
                                    <td>Toplam Kusur  </td>
                                    <td>% @Model.Item2.ToplamKusur</td>

                                </tr>
                                <tr>
                                    <td>Gurup Adı </td>
                                    <td>@Model.Item2.GurupAdi</td>

                                </tr>
                                <tr>
                                    <td>RED EDİLME VARMI </td>

                                    @if (Model.Item2.RedEdilmeNedeni == "Hayır")
                                    {
                                        <td style="color:green;"><i class="fa fa-edit"></i>@Model.Item2.RedEdilmeNedeni</td>
                                    }
                                    else
                                    {
                                        <td style="color:red;"><i class="fa fa-circle"></i>@Model.Item2.RedEdilmeNedeni</td>
                                    }


                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h3 style="color:green;text-align:center;">Analiz Kalemleri</h3>
                    </div>
                    <div class="ibox-content">

                        @using (Html.BeginForm("LaboratuvarKayisiAnalizi", "Laboratuvar", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>Tane Adeti(1000 Gramda)</td>
                                        <td><input type="text" class="form-control" name="TaneAdeti" value="@Model.Item1.TaneAdeti"></td>
                                        <td style="width:10%;"></td>
                                        <td>Renk Uyumsuzluğu %</td>
                                        <td><input type="text" class="form-control" name="RenkUyumsuzlugu" value="@Model.Item1.RenkUyumsuzlugu"></td>
                                    </tr>
                                    <tr>
                                        <td>Rutubet Orani %</td>
                                        <td><input type="text" class="form-control" name="RutubetOrani" value="@Model.Item1.RutubetOrani"></td>
                                        <td></td>
                                        <td>Çekirdekli Kayısı</td>
                                        <td><input type="text" class="form-control" name="CekirdekliKayisi" value="@Model.Item1.CekirdekliKayisi"></td>
                                    </tr>
                                    <tr>
                                        <td>Ağır Kirli Tane %</td>
                                        <td><input type="text" class="form-control" name="AgirKirliTane" value="@Model.Item1.AgirKirliTane"></td>
                                        <td></td>
                                        <td>Çekirdekli Kayısı</td>
                                        <td><input type="text" class="form-control" name="CekirdekliKayisi" value="@Model.Item1.CekirdekliKayisi"></td>
                                    </tr>
                                    <tr>
                                        <td>Hafif Kirli Tane %</td>
                                        <td><input type="text" class="form-control" name="HafifKirliTane" value="@Model.Item1.HafifKirliTane"></td>
                                        <td></td>
                                        <td>Böcek Hasarlı %</td>
                                        <td><input type="text" class="form-control" name="BocekHasarli" value="@Model.Item1.BocekHasarli"></td>
                                    </tr>
                                    <tr>
                                        <td>HasarliTane(Ezik vb.) %</td>
                                        <td><input type="text" class="form-control" name="HasarliTane" value="@Model.Item1.HasarliTane"></td>
                                        <td></td>
                                        <td>Ölü Böcek Parçaları %</td>
                                        <td><input type="text" class="form-control" name="OluBocekParcalari" value="@Model.Item1.OluBocekParcalari"></td>
                                    </tr>
                                    <tr>
                                        <td>Cilli Tane %</td>
                                        <td><input type="text" class="form-control" name="CilliTane" value="@Model.Item1.CilliTane"></td>
                                        <td></td>
                                        <td>Yabancı Madde Bitkisel %</td>
                                        <td><input type="text" class="form-control" name="YabanciMaddeBitkisel" value="@Model.Item1.YabanciMaddeBitkisel"></td>
                                    </tr>
                                    <tr>
                                        <td>Dolu Yaralı Tane %</td>
                                        <td><input type="text" class="form-control" name="DoluYaraliTane" value="@Model.Item1.DoluYaraliTane"></td>
                                        <td></td>
                                        <td>Yabancı Madde Tehlikeli %</td>
                                        <td><input type="text" class="form-control" name="YabanciMaddeTehlikeli" value="@Model.Item1.YabanciMaddeTehlikeli"></td>
                                    </tr>
                                    <tr>
                                        <td>Güneş Yanığı %</td>
                                        <td><input type="text" class="form-control" name="GunesYanigi" value="@Model.Item1.GunesYanigi"></td>
                                        <td></td>
                                        <td>Kükürt Oranı %</td>
                                        <td><input type="text" class="form-control" name="KukurtOrani" value="@Model.Item1.KukurtOrani"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="hidden" value="@Model.Item1.AnalizListesiId" name="AnalizListesiId" />
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <button class="btn btn-warning btn-sm" type="submit"><i class="fa fa-refresh"></i>  Kalite Derecesini Yeniden Hesapla</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Analiz Kalemleri</h5>
                    </div>
                    <div class="ibox-content">
                        @using (Html.BeginForm("LaboratuvarKayisiAnalizi", "Laboratuvar", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>Tane Adeti(1000 Gramda)</td>
                                        <td><input type="text" class="form-control" name="TaneAdeti" value="@Model.Item1.TaneAdeti"></td>
                                        <td style="width:10%;"></td>
                                        <td>Renk Uyumsuzluğu %</td>
                                        <td><input type="text" class="form-control" name="RenkUyumsuzlugu" value="@Model.Item1.RenkUyumsuzlugu"></td>
                                    </tr>
                                    <tr>
                                        <td>Rutubet Orani %</td>
                                        <td><input type="text" class="form-control" name="RutubetOrani" value="@Model.Item1.RutubetOrani"></td>
                                        <td></td>
                                        <td>Çekirdekli Kayısı</td>
                                        <td><input type="text" class="form-control" name="CekirdekliKayisi" value="@Model.Item1.CekirdekliKayisi"></td>
                                    </tr>
                                    <tr>
                                        <td>Ağır Kirli Tane %</td>
                                        <td><input type="text" class="form-control" name="AgirKirliTane" value="@Model.Item1.AgirKirliTane"></td>
                                        <td></td>
                                        <td>Çekirdekli Kayısı</td>
                                        <td><input type="text" class="form-control" name="CekirdekliKayisi" value="@Model.Item1.CekirdekliKayisi"></td>
                                    </tr>
                                    <tr>
                                        <td>Hafif Kirli Tane %</td>
                                        <td><input type="text" class="form-control" name="HafifKirliTane" value="@Model.Item1.HafifKirliTane"></td>
                                        <td></td>
                                        <td>Böcek Hasarlı %</td>
                                        <td><input type="text" class="form-control" name="BocekHasarli" value="@Model.Item1.BocekHasarli"></td>
                                    </tr>
                                    <tr>
                                        <td>HasarliTane(Ezik vb.) %</td>
                                        <td><input type="text" class="form-control" name="HasarliTane" value="@Model.Item1.HasarliTane"></td>
                                        <td></td>
                                        <td>Ölü Böcek Parçaları %</td>
                                        <td><input type="text" class="form-control" name="OluBocekParcalari" value="@Model.Item1.OluBocekParcalari"></td>
                                    </tr>
                                    <tr>
                                        <td>Cilli Tane %</td>
                                        <td><input type="text" class="form-control" name="CilliTane" value="@Model.Item1.CilliTane"></td>
                                        <td></td>
                                        <td>Yabancı Madde Bitkisel %</td>
                                        <td><input type="text" class="form-control" name="YabanciMaddeBitkisel" value="@Model.Item1.YabanciMaddeBitkisel"></td>
                                    </tr>
                                    <tr>
                                        <td>Dolu Yaralı Tane %</td>
                                        <td><input type="text" class="form-control" name="DoluYaraliTane" value="@Model.Item1.DoluYaraliTane"></td>
                                        <td></td>
                                        <td>Yabancı Madde Tehlikeli %</td>
                                        <td><input type="text" class="form-control" name="YabanciMaddeTehlikeli" value="@Model.Item1.YabanciMaddeTehlikeli"></td>
                                    </tr>
                                    <tr>
                                        <td>Güneş Yanığı %</td>
                                        <td><input type="text" class="form-control" name="GunesYanigi" value="@Model.Item1.GunesYanigi"></td>
                                        <td></td>
                                        <td>Kükürt Oranı %</td>
                                        <td><input type="text" class="form-control" name="KukurtOrani" value="@Model.Item1.KukurtOrani"></td>
                                    </tr>
                                </tbody>
                            </table>


                            <input type="hidden" value="@Model.Item1.AnalizListesiId" name="AnalizListesiId" />
                            <div class="hr-line-dashed"></div>

                            <div class="form-group row">
                                <div class="col-sm-4 col-sm-offset-2">

                                    <button class="btn btn-primary btn-sm" type="submit">Kalite Derecesi Hesapla</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });</script>
}


