﻿@model Tuple<List<YeniOtomasyonSistemi.Models.LabLaboratuvarAnalizListesi>, List<YeniOtomasyonSistemi.Models.TanGorevliler>>
@{
    ViewBag.Title = "Laboratuvar Analiz Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Analiz Kaydı Listesi</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    @using (Html.BeginForm("LaboratuvarAnalizListesi", "Laboratuvar", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group" style="float:left;">
                            <div class="input-group date col-lg-12">
                                <input type="date" class="form-control" disabled value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)">
                                <input type="date" class="form-control" name="tarih">
                                <div class="input-group col-lg-4">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fa fa-calendar"></i> Filtrele
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Analiz No</th>
                                <th>Tarih</th>
                                <th>Numune No</th>
                                <th>Kantar No</th>
                                <th>Ürün Kodu </th>
                                <th>Ürün Adı</th>

                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Item1)
                            {

                                string color = "";
                                if (item.Durumu == "Beklemede")
                                {

                                    color = "lightyellow";
                                }
                                else if (item.Durumu == "Tamamlandı")
                                {

                                    color = "#ceff8f";
                                }
                                else if (item.Durumu == "RedEdildi")
                                {

                                    color = "#f8c9c9";
                                }
                                <tr style="background-color:@color;">
                                    <td>@item.AnalizNo</td>
                                    <td>@item.AnalizTarihi.ToString().Substring(0, 10)</td>
                                    <td>@item.NumuneNo</td>
                                    <td>@item.KantarKayitNo</td>
                                    <td>@item.TanUrunUstGuruplari.UrunUstGurupKodu</td>
                                    <td>@item.TanUrunUstGuruplari.UrunUstGurupAdi</td>


                                    @if (item.Durumu == "Beklemede")
                                    {
                                        <td>
                                            @if (item.UrunUstGurubuId == 5)
                                            {
                                                <a href='@Url.Action("LaboratuvarKayisiAnalizi","Laboratuvar",new { id=item.LabAnalizId})' class="btn btn-outline btn-warning">Analiz Yap</a>
                                            }
                                            else
                                            {
                                                <a href="" class="btn btn-outline btn-warning"></a>
                                            }

                                        </td>
                                        <td>
                                            <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                                <i class="fa fa-warning"></i>
                                            </button>
                                        </td>
                                    }
                                    else if (item.Durumu == "Tamamlandı")
                                    {
                                        <td style="text-align:center;"> <button class="btn btn-primary" type="button"><i class="fa fa-check"></i> Tamamlandı</button></td>
                                        <td>

                                            <a class="btn  btn-danger" href='@Url.Action("LaboratuvarKayisiAnaliziYazdir","Laboratuvar",new { id=item.LabAnalizId})' target="_blank" title="Yazdır">
                                                <i class="fa fa-print" style="color:white;"></i>
                                            </a>
                                            <a class="btn  btn-success" href='@Url.Action("LaboratuvarKayisiAnalizi","Laboratuvar",new { id=item.LabAnalizId})' title="Yeniden Analiz Yap">
                                                <i class="fa fa-refresh" style="color:white;"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td> <button type="button" class="btn btn-outline btn-danger">Red Edildi</button></td>
                                        <td>
                                            <a class="btn  btn-danger" href='@Url.Action("LaboratuvarKayisiAnaliziYazdir","Laboratuvar",new { id=item.LabAnalizId})' target="_blank" title="Yazdır">
                                                <i class="fa fa-print" style="color:white;"></i>
                                            </a>
                                            <a class="btn  btn-success" href='@Url.Action("LaboratuvarKayisiAnalizi","Laboratuvar",new { id=item.LabAnalizId})' title="Yeniden Analiz Yap">
                                                <i class="fa fa-refresh" style="color:white;"></i>
                                            </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/typehead")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")

    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'MudiKaydiListesi' },
                    { extend: 'pdf', title: 'MudiKaydiListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });
    </script>

}


