﻿@model YeniOtomasyonSistemi.Models.LabKayisiAnalizDetaylari
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    @{
        string SubeKodu = Session["KullaniciSubeKodu"].ToString();
        YeniOtomasyonSistemi.Models.LidosSistemiEntities db = new YeniOtomasyonSistemi.Models.LidosSistemiEntities();
        int KayitNo = Convert.ToInt32(Model.LabLaboratuvarAnalizListesi.KantarKayitNo);
        var MudiBilgileri = db.KantarTartimKayitlari.Where(t => t.KantarKayitNo == KayitNo&&t.KaydedenSube==SubeKodu).FirstOrDefault();
    }
    <div class="container">
        <div class="card">
            <div class="card-header">
                Analiz No : @Model.LabLaboratuvarAnalizListesi.AnalizNo
                <span class="float-right"> <strong>Durum:</strong> @Model.LabLaboratuvarAnalizListesi.Durumu</span>
                <br />
                <strong style="text-align:center;">Tarih : @Model.KayitZamani.ToString().Substring(0, 10)</strong>
                <span class="float-right"> <strong>Lisanslı Depo Adı :</strong> TMO-TOBB LİDAŞ (Malatya Şubesi)</span>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h6 class="mb-3">Yetki Sınıflandırıcı:</h6>
                        <div>
                            <strong>Malatya Ticaret Borsası Laboratuvarı</strong>
                        </div>
                        <div>İsmetiye Mh. Buhara Cd.</div>
                        <div>Yeni Mektep Sk. No:181/A </div>
                        <div>Battalgazi/MALATYA</div>

                    </div>

                    <div class="col-sm-6">
                        <h6 class="mb-3">Mudi Bilgileri:</h6>
                        <div>
                            <strong></strong>
                        </div>
                        <div>TC / VKN : @MudiBilgileri.KantarMudiBilgileri.MudiTcVkn</div>
                        <div>Adı Soyadı : @MudiBilgileri.KantarMudiBilgileri.MudiAdiSoyadi</div>
                        <div>Adres : @MudiBilgileri.KantarMudiBilgileri.AdresDevami</div>
                        <div>İl / İlçe : @MudiBilgileri.KantarMudiBilgileri.AdresIl / @MudiBilgileri.KantarMudiBilgileri.AdresIlce</div>
                        <div>İletişim : @MudiBilgileri.KantarMudiBilgileri.Telefon</div>
                    </div>



                </div>
                @if (Model.SonucRedVarmi == "Hayır")
                {
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">Analiz Sonuç Adı</th>
                                    <th class="right">Tespit Edilen Değerler</th>
                                    <th class="center"></th>
                                    <th class="right"></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center"><b>1- </b>ÜRÜN ADI</td>
                                    <td class="right">@Model.SonucUrunAdi</td>
                                    <td></td>
                                    <td></td>

                                </tr>
                                <tr>
                                    <td class="center"><b>2- </b>ÜRÜN KODU</td>
                                    <td class="right">@Model.SonucUrunKodu</td>
                                    <td class="center"><b>4- </b>Gurup</td>
                                    <td class="right">@Model.SonucGurupAdi</td>
                                </tr>
                                <tr>
                                    <td class="center"><b>3- </b>ÜRÜN ISINKODU</td>
                                    <td class="right">@Model.SonucUrunISINKODU</td>
                                    <td class="center"><b>5- </b>Sınıfı</td>
                                    <td class="right">@Model.SonucBoyDerecesi</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="center">Analiz Sonuç Adı</th>
                                    <th class="right">Tespit Edilen Değer</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="center"><b>Ürün İş Yeri Tarafından Red Edilmiştir </b></td>
                                    <td class="right"><i style="color:red;">@Model.SonucRedEdilmeAciklamasi</i></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                }
                <hr />
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">Yapılan Analizin Adı</th>
                                <th class="right">Çıkan Sonuç</th>
                                <th class="center">Yapılan Analizin Adı</th>
                                <th class="right">Çıkan Sonuç</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center"><b>1- </b>1000 Gramdaki Tane Adeti</td>
                                <td class="right">@Model.TaneAdeti</td>
                                <td class="center"><b>10- </b>Renk Uyumsuzluğu (%)</td>
                                <td class="right">@Model.RenkUyumsuzlugu</td>
                            </tr>
                            <tr>
                                <td class="center"><b>2- </b>Rutubet (%) (TS EN 15948)</td>
                                <td class="right">@Model.RutubetOrani</td>
                                <td class="center"><b>11- </b>Çekirdekli Kayısı</td>
                                <td class="right">@Model.CekirdekliKayisi</td>
                            </tr>
                            <tr>
                                <td class="center"><b>3- </b>Ağır Kirli Tane (%)</td>
                                <td class="right">@Model.AgirKirliTane</td>
                                <td class="center"><b>12- </b>Böcek Hasarlı (%)</td>
                                <td class="right">@Model.BocekHasarli</td>
                            </tr>
                            <tr>
                                <td class="center"><b>4- </b>Hafif Kirli Tane (%)</td>
                                <td class="right">@Model.HafifKirliTane</td>
                                <td class="center"><b>13- </b>Ölü Böcek ve Parçaları (%)</td>
                                <td class="right">@Model.OluBocekParcalari</td>
                            </tr>
                            <tr>
                                <td class="center"><b>5- </b>Hasarlı Tane, Parça, Ezik vb.(%)</td>
                                <td class="right">@Model.HasarliTane</td>
                                <td class="center"><b>14- </b>Yabancı Madde Bitkisel (%)</td>
                                <td class="right">@Model.YabanciMaddeBitkisel</td>
                            </tr>
                            <tr>
                                <td class="center"><b>6- </b>Çilli Tane (%)</td>
                                <td class="right">@Model.CilliTane</td>
                                <td class="center"><b>15- </b>Yabancı Madde Tehlikeli (%)</td>
                                <td class="right">@Model.YabanciMaddeTehlikeli</td>
                            </tr>
                            <tr>
                                <td class="center"><b>7- </b>Dolu Yaralı Tane (%)</td>
                                <td class="right">@Model.DoluYaraliTane</td>
                                <td class="center"><b>16- </b>TOPLAM KUSUR ORANI (%)</td>
                                <td class="right">@Model.SonucToplamKusur</td>
                            </tr>
                            <tr>
                                <td class="center"><b>8- </b>Güneş Yanığı (%)</td>
                                <td class="right">@Model.GunesYanigi</td>
                                <td class="center"><b>17- </b>KÜKÜRT ORANI (%)</td>
                                <td class="right">@Model.KukurtOrani ppm</td>
                            </tr>
                            <tr>
                                <td class="center"><b>9- </b>İlaçlı</td>
                                <td class="right">HAYIR</td>
                                <td class="center"><b>18- </b>Haşereli</td>
                                <td class="right">HAYIR</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <small>
                    ** Yapılan analiz sonucunda yukarıdaki değer tespit edilmiş olup bunlar tek başına veya ayrı olarak kullanılmaz .
                    Analizlerde kullanılan cihaz ve ekipmanların periyodik kalibrasyon kontrolleri yapılmaktadır.
                </small>

                <div class="table-responsive-sm">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:35%;"></th>
                                <th style="width:30%;"></th>
                                <th style="width:35%;"></th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td class="center">Analizi Yapan</td>
                                <td class="left">AYDA GÜLDAŞ</td>
                                <td class="left">İmzası</td>
                            </tr>
                            <tr>
                                <td class="center">Analizi Onaylayan</td>
                                <td class="left"> </td>
                                <td class="left">İmzası</td>
                            </tr>
                            <tr>
                                <td class="center">Lisanslı Depo Sorumlusu</td>
                                <td class="left">ALİ ÇAKAR</td>
                                <td class="left">İmzası</td>
                            </tr>
                            <tr>
                                <td class="center">Mudi</td>
                                <td class="left">@MudiBilgileri.KantarMudiBilgileri.MudiAdiSoyadi</td>
                                <td class="left">İmzası</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <small>
                    Analiz sınıflandırma belgesi 5300 Sayılı Kanun ve İlgili Yönetmelik kapsamında yetkili sınıflandırıcı tarafından verilmiştir .
                    Not: Analiz sonuçları kabul edilmişse mudi tarafından imzalanacaktır. Kabul edilmemişse "Analizi Kabul Etmiyorum" şerhi yazılarak mudice imzalanacaktır.
                </small>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        window.addEventListener("load", window.print());
    </script>
</body>

</html>
