﻿@model Tuple<List<YeniOtomasyonSistemi.Models.LabNumuneAlma>, List<YeniOtomasyonSistemi.Models.TanGorevliler>>
@{
    ViewBag.Title = "NumuneAlmaListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Numune Alma Listesi</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    @using (Html.BeginForm("NumuneAlmaListesi", "Laboratuvar", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group" style="float:left;">
                            <div class="input-group date col-lg-12">
                                <input type="date" class="form-control" disabled value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)">
                                <input type="date" class="form-control" name="tarih">
                                <div class="input-group col-lg-4">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fa fa-calendar"></i> Filtrele
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Numune No</th>
                                <th>Tarih</th>
                                <th>Araç Plaka </th>
                                <th>Araç Türü</th>
                                <th>Ürün</th>
                                <th>1. Tartım</th>
                                <th>2. Tartım</th>
                                <th>Net Miktar</th>
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                string color = "";
                                if (item.KayitDurumu == "Beklemede")
                                {

                                    color = "lightyellow";
                                }
                                else if (item.KayitDurumu == "Tamamlandı")
                                {

                                }
                                else
                                {
                                    color = "lightred";
                                }
                                <tr style="background-color:@color;">
                                    <td>@item.NumuneNo</td>
                                    <td>@item.KayitZamani.ToString().Substring(0, 10)</td>
                                    <td>@item.KantarTartimKayitlari.AracPlakasi</td>
                                    <td>@item.KantarTartimKayitlari.AracTuru</td>
                                    <td>@item.KantarTartimKayitlari.AractakiUrun</td>
                                    <td>@item.KantarTartimKayitlari.BirinciTartim</td>
                                    <td>@item.KantarTartimKayitlari.IkinciTartim</td>
                                    <td>@item.KantarTartimKayitlari.NetHesaplanan</td>

                                    @if (item.KayitDurumu == "Beklemede")
                                    {
                                        <td>
                                            <button type="button" class="btn btn-outline btn-warning" data-toggle="modal" data-target="#myModal-@item.NumuneId">Kayıt Bekleniyor</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                                <i class="fa fa-warning"></i>
                                            </button>
                                        </td>
                                    }
                                    else if (item.KayitDurumu == "Tamamlandı")
                                    {
                                        <td> <button class="btn btn-success dim" type="button"><i class="fa fa-check"></i> Tamamlandı</button></td>
                                        <td>
                                            <a class="btn btn-outline btn-primary" href='@Url.Action("NumuneEtiketiYazdir","Laboratuvar",new { id=item.NumuneId})' target="_blank" title="Yazdır">
                                                <i class="fa fa-print" style="color:white;"></i>
                                            </a>
                                            <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                                <i class="fa fa-warning"></i>
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td> <button type="button" class="btn btn-outline btn-danger">Red Edildi</button></td>
                                        <td>
                                            <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                                <i class="fa fa-warning"></i>
                                            </button>
                                        </td>
                                    }
                                </tr>

                                <div class="modal inmodal" id="myModal-@item.NumuneId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content animated flipInY">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h2 style="text-align:center;">@item.NumuneNo Numaralı</h2>
                                                <h4 style="text-align:center;">Numune Kaydı Bilgisi Girişi</h4>
                                            </div>
                                            @using (Html.BeginForm("NumuneAlmaKaydet", "Laboratuvar", FormMethod.Post, new { @class = "form-horizontal" }))
                                            {
                                                <div class="modal-body">
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Mühür No</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" placeholder="0001" name="MuhurNo" autocomplete="off" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Alma Yeri</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" name="NumuneAlinmaYeri">
                                                                    <option>Araç Üstü</option>
                                                                    <option>Çuval</option>
                                                                    <option>Depo</option>
                                                                    <option>Kasa</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Ambalaj Şekli</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" name="AmbalajSekli">
                                                                    <option>Çuval</option>
                                                                    <option>Dökme</option>
                                                                    <option>Kapalı Ambalaj</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Numune Ağırlığı (KG)</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" value="3" name="NumuneAgirlik" autocomplete="off" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Numune Adeti</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" value="3" name="NumuneAdet" autocomplete="off" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Numuneyi Alan Görevli</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" name="Gorevli">
                                                                    @foreach (var item2 in Model.Item2)
                                                                    {
                                                                        <option>@item2.GorevliAdiSoyadi</option>

                                                                    }

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                                </div>
                                                <input type="hidden" value="@item.NumuneId" name="Id" />
                                                <div class="modal-footer">

                                                    <button type="submit" class="btn btn-info float-lg-right">Numuneyi Kaydet</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

    @Styles.Render("~/plugins/dataPickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/typehead")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")

    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'MudiKaydiListesi' },
                    { extend: 'pdf', title: 'MudiKaydiListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ID = $("#MudiTc").val();
            $.ajax({
                url: '/Kantar/MudiyiGetir/' + ID,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $(".typeahead_2").typeahead({ source: data });

                },
                error: function (hata, ajaxOptions, thrownError) {

                    alert(hata.responseText);
                }
            });
        });

    </script>
}


