﻿@model YeniOtomasyonSistemi.Models.KantarTartimKayitlari
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>İlk Tartım Çıktısı </title>
    <link href="~/Content/CiktiDizaynlari/style.css" rel="stylesheet" />

</head>
<body>
    @{
        DateTime Zaman = (DateTime)Model.KayitZamani;
        string KullaniciAdi = Session["KullaniciAdi"].ToString();
        DateTime SimdikiZaman = DateTime.Now;
        string SubeKodu = Model.KaydedenSube;
        YeniOtomasyonSistemi.Models.LidosSistemiEntities db = new YeniOtomasyonSistemi.Models.LidosSistemiEntities();
        string SubeAdi = db.LSubeler.Where(t => t.SubeKisaKodu == SubeKodu).Select(t => t.SubeAdi).FirstOrDefault();
    }

    <!-- ./wrapper -->

    <header class="clearfix">
        <div id="logo">

            <img src="~/Content/CiktiDizaynlari/logomuz.png" />
        </div>
        <h1>Tmo-Tobb LİDAŞ @SubeAdi Şubesi </h1>
        @if (Model.IkinciTartim == 0)
        {
            <h1>Kantar 1. Tartım Makbuzu</h1>
        }
        else
        {
            <h1>Kantar 2. Tartım Makbuzu</h1>
        }

        <div id="company" class="clearfix">


            <strong>TMO-TOBB LİDAŞ</strong><br>
            <div>Eskişehir Yolu 9. km. Dumlupınar Bulvarı </div>
            <div>TOBB İkiz Kuleler No: 252 D blok Kat 27</div>

            <div>Çankaya / ANKARA</div>
            <div>info@tmo-tobblidas.com.tr</div>
            <div>
                Tel : 0312 219 63 82 – 84
                Fax : 0312 2196385
            </div>

        </div>
        <div id="project">
            <div><span>Kayıt No :</span> @DateTime.Now.Year / @Model.KantarKayitId</div>
            <div><span>Kaydı Yapan:</span> @Model.KaydiYapanUser</div>
            @if (Model.IkinciTartim == 0)
            {
                <div><span>Durumu :</span> İlk Tartım Yapıldı</div>
            }
            else
            {
                <div><span>Durumu :</span> Son Tartım Yapıldı</div>
            }

            <div><span>TC / VKN :</span> @Model.KantarMudiBilgileri.MudiTcVkn</div>
            <div><span>Adı soyadı:</span> @Model.KantarMudiBilgileri.MudiAdiSoyadi</div>
            <div><span>Elüs Talebi :</span> @Model.MudiElusTalebi</div>
            <div><span>Şube Adı :</span> @SubeAdi</div>

        </div>
    </header>
    <main>
        <h3 style="color:orange;text-align:center;">TARTIM DETAYLARI</h3>
        <hr />
        <table style="text-align:left;">

            <tbody style="text-align:left;">

                <tr style="text-align:left;">
                    <td style="text-align:left;">Araç Cinsi :</td>

                    <td style="text-align:left;">@Model.AracTuru</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td style="text-align:left;">Araç Plaka No :</td>

                    <td style="text-align:left;">@Model.AracPlakasi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align:left;">Araçta Bulunan Ürün :</td>

                    <td style="text-align:left;">@Model.AractakiUrun</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align:left;">İlk Tartım Miktarı :</td>

                    <td style="text-align:left;">@Model.BirinciTartim KG</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @if (Model.IkinciTartim != 0)
                {
                    <tr>
                        <td style="text-align:left;">İkinci Tartım Miktarı :</td>

                        <td style="text-align:left;">@Model.IkinciTartim KG</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">Ürün Net Miktarı :</td>

                        <td style="text-align:left;">@Model.NetHesaplanan KG</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>


        <br />
        <br />
        <br />
        <hr />
        <h3 style="color:orange;text-align:center;">İMZALAR</h3>
        <table style="text-align:left;">
            <tbody style="text-align:left;">
                <tr style="text-align:left;">
                    <td style="text-align:left;">Kantar Memuru</td>
                    <td style="text-align:left;"> </td>
                    <td style="text-align:left;">IMZA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="text-align:left;">
                    <td style="text-align:left;">ŞUBE MÜDÜRÜ</td>
                    <td style="text-align:left;"></td>
                    <td style="text-align:left;">IMZA</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr style="text-align:left;">
                    <td style="text-align:left;">MUDİ</td>
                    <td style="text-align:left;">@Model.KantarMudiBilgileri.MudiAdiSoyadi</td>
                    <td style="text-align:left;">IMZA</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div id="notices">
            <div>Evrak Bilgileri:</div>
            <div class="notice">Kayıt Tarihi @Zaman.ToLongDateString()</div>

        </div>
    </main>
    <footer>
        <div>Bu Evrak Yapılan  tartım sonrasında MUDİ'yi bilgilendirme amaçlı yazdırılmıştır.</div>
    </footer>

    <script type="text/javascript">

        window.addEventListener("load", window.print());
    </script>
</body>
</html>
