﻿@model Tuple<YeniOtomasyonSistemi.Models.KantarMudiBilgileri, List<YeniOtomasyonSistemi.Models.KantarMudiAraciKurum>>
@{
    ViewBag.Title = "MudiDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h3 class="card-title" style="text-align:center;color:darkred;">@Model.Item1.MudiAdiSoyadi</h3>
        <h6 style="text-align:center;color:green;">İsimli Mudiyi düzenlemektesiniz.</h6>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">
                    @using (Html.BeginForm("MudiDuzenle", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                    <div class="ibox-content">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mudi TCK / VKN</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Örn 15588652740" name="MudiTckVKN" value="@Model.Item1.MudiTcVkn">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mudi AdSoyadı / Unvanı</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Örn Kaan YİĞİT" name="MudiAdSoyad" value="@Model.Item1.MudiAdiSoyadi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Telefon No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="0541 444 22 22" name="Telefon" value="@Model.Item1.Telefon">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">İl</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="İstanbul" name="MudiIl" value="@Model.Item1.AdresIl">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">İlçe</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Maltepe" name="MudiIlce" value="@Model.Item1.AdresIlce">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Açık Adresi</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="mahalle sokak cadde ve kapı no" name="MudiAcikAdres" value="@Model.Item1.AdresDevami">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Aracı Kurum :</label>
                            <div class="col-sm-10">

                                <select class="form-control" name="MudiAraciKurum">
                                    <option>@Model.Item1.KantarMudiAraciKurum.AraciKurumAdi</option>
                                    @foreach (var item in Model.Item2)
                                    {
                                        <option> @item.AraciKurumAdi</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Banka Hesap No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Örn TRXT20002" name="BankaHesapNo" value="@Model.Item1.BankaHesapNo">
                            </div>
                        </div>
                        <input type="hidden" value="@Model.Item1.MudiId" name="Id" />
                        <button type="submit" class="btn btn-primary large " style="float:right;">Mudi Güncelle</button>
                    </div>
                    
                        <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>

                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });</script>
}
