﻿@model Tuple<List<YeniOtomasyonSistemi.Models.KantarMudiBilgileri>,List<YeniOtomasyonSistemi.Models.KantarMudiAraciKurum>>
@{
    ViewBag.Title = "MudiListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Mudi Listesi</h4>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-plus"></i> Yeni Mudi Ekle
                    </button>

                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 style="text-align:center;">Yeni Mudi Ekle</h4>

                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("MudiKaydet", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                    {
                                    <div class="ibox-content">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Mudi TCK / VKN</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Örn 15588652740" name="MudiTckVKN">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Mudi AdSoyadı / Unvanı</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Örn Kaan YİĞİT" name="MudiAdSoyad">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Telefon No</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="0541 444 22 22" name="Telefon">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">İl</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="İstanbul" name="MudiIl">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">İlçe</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Maltepe" name="MudiIlce">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Açık Adresi</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="mahalle sokak cadde ve kapı no" name="MudiAcikAdres">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Aracı Kurum :</label>
                                            <div class="col-sm-10">

                                                <select class="form-control" name="MudiAraciKurum">

                                                    @foreach (var item in Model.Item2)
                                                    {
                                                        <option> @item.AraciKurumAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Banka Hesap No</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Örn TRXT20002" name="BankaHesapNo">
                                            </div>
                                        </div>

                                    </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-info float-lg-right">Mudi Kaydet</button>

                                        </div>
                                        <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Tc No</th>
                                <th>Mudi AdSoyad </th>
                                <th>Telefon No</th>
                                <th>Banka Hesap No</th>
                                <th>Aracı Kurum</th>
                                <th>Şubesi</th>
                                <th>Kaydeden</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td>@item.MudiId</td>
                                    <td>@item.MudiTcVkn</td>
                                    <td>@item.MudiAdiSoyadi</td>
                                    <td>@item.Telefon</td>
                                    <td>@item.BankaHesapNo</td>
                                    <td>@item.KantarMudiAraciKurum.AraciKurumAdi</td>
                                    <td>@item.KaydedenSubeKodu</td>
                                    <td>@item.KaydedenUser</td>
                                    <td>
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false">İşlemler </button>
                                            <ul class="dropdown-menu" x-placement="bottom-start" style="position: absolute; top: 33px; left: 0px; will-change: top, left;">
                                                <li><a class="dropdown-item" href='@Url.Action("MudiDuzenle","Kantar",new { id=item.MudiId})'><i class="fa fa-edit"></i> Düzenle</a></li>
                                                <li><a class="dropdown-item" href='@Url.Action("BakimYazdir","DepoTeknisyeni",new { id=item.MudiId})'><i class="fa fa-anchor"> Tartım Gir</i></a></li>
                                                <li><a class="dropdown-item" href='@Url.Action("BakimYazdir","DepoTeknisyeni",new { id=item.MudiId})'><i class="fa fa-search"> Geçmiş Kayıtlar</i></a>
                                                <li class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                                            </ul>
                                        </div>




                                    </td>
                                </tr>

                               
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'MudiKaydiListesi' },
                    { extend: 'pdf', title: 'MudiKaydiListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
    
}

