﻿@model List<YeniOtomasyonSistemi.Models.KantarMudiAraciKurum>
@{
    ViewBag.Title = "MudiKaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Yeni Mudi Kaydet</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    @using (Html.BeginForm("MudiKaydet", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mudi TCK / VKN</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Örn 15588652740" name="MudiTckVKN">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mudi AdSoyadı / Unvanı</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Örn Kaan YİĞİT" name="MudiAdSoyad">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Telefon No</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="0541 444 22 22" name="Telefon">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">İl</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="İstanbul" name="MudiIl">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">İlçe</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Maltepe" name="MudiIlce">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Açık Adresi</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="mahalle sokak cadde ve kapı no" name="MudiAcikAdres">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Aracı Kurum :</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="MudiAraciKurum">

                                        @foreach (var item in Model)
                                        {
                                            <option> @item.AraciKurumAdi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Banka Hesap No</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Örn TRXT20002" name="BankaHesapNo">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-info float-right">Mudi Kaydet</button>
                            </div>
                        </div>
                        <br />
                        <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });</script>
}

