﻿@model Tuple<List<YeniOtomasyonSistemi.Models.TanUrunUstGuruplari>, List<YeniOtomasyonSistemi.Models.KantarTartimKayitlari>, List<YeniOtomasyonSistemi.Models.TanGorevliler>>
@{
    ViewBag.Title = "TartimKaydiListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Tartım Kaydı Listesi</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    <div style="float:left;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            <i class="fa fa-plus"></i> Yeni Tartım Kaydı Ekle
                        </button>
                    </div>
                    @using (Html.BeginForm("TartimKaydiListesi", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group col-lg-6" style="float:left;">
                            <div class="input-group date col-lg-12">
                                <input type="date" class="form-control" disabled value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)">
                                <input type="date" class="form-control" name="tarih">
                                <div class="input-group col-lg-4">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fa fa-calendar"></i> Filtrele
                                    </button>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 style="text-align:center;">Yeni Tartım Kaydı Ekle</h4>

                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("YeniTartimKaydi", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                    <div class="ibox-content">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Mudi TCK / VKN</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="typeahead_2 form-control" placeholder="Örn 15588652740" name="MudiTckVKN" autocomplete="off" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Araç Plaka No</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Örn 06 FD 4455" name="AracPlakasi">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Araç Türü</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="AracTuru">
                                                    <option>Kamyon</option>
                                                    <option>Kamyonet</option>
                                                    <option>Tır</option>
                                                    <option>Traktör</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Araçtaki Ürün</label>
                                            <div class="col-sm-10">
                                                <select name="Urun" class="form-control">
                                                    @foreach (var item in Model.Item1)
                                                    {
                                                        <option value="@item.UrunUstGurupAdi">@item.UrunUstGurupAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Elüs Şekli</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="ElusTalep">
                                                    <option>Elüs Mislen</option>
                                                    <option>Elüs Aynen</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Tartımı Yapan Görevli :</label>
                                            <div class="col-sm-10">
                                                <select name="TartimiYapanGorevli" class="form-control">
                                                    @foreach (var item in Model.Item3)
                                                    {
                                                        <option>@item.GorevliAdiSoyadi</option>
                                                    }


                                                </select>
                                            </div>
                                        </div>


                                    </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-info float-lg-right">Tartım Kaydı Kaydet</button>
                                        </div>
                                        <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Kayıt No</th>
                                <th>Mudi AdSoyad</th>
                                <th>Tc No</th>
                                <th>Araç Plaka </th>
                                <th>Araç Türü</th>
                                <th>Ürün</th>
                                <th>1. Tartım</th>
                                <th>2. Tartım</th>
                                <th>Net Miktar</th>
                                <th>Kayıt Zamanı</th>
                                <th>Durum</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody id="itemsler">

                            @foreach (var item in Model.Item2)
                            {
                                string Durum = "";
                                string color = "";
                                if (item.BirinciTartim == 0)
                                {
                                    Durum = "1. Tartım";
                                    color = "lightyellow";
                                }
                                else if (item.IkinciTartim == 0)
                                {
                                    Durum = "2. Tartım";
                                    color = "skyblue";
                                }
                                else
                                {
                                    Durum = "Tamamlandı";
                                    color = "lightgreen";
                                }
                            <tr style="background-color:@color;">
                                <td>@item.KantarKayitNo</td>
                                <td>@item.KantarMudiBilgileri.MudiAdiSoyadi</td>
                                <td>@item.KantarMudiBilgileri.MudiTcVkn</td>
                                <td>@item.AracPlakasi</td>
                                <td>@item.AracTuru</td>
                                <td>@item.AractakiUrun</td>
                                <td>@item.BirinciTartim</td>
                                <td>@item.IkinciTartim</td>
                                <td>@item.NetHesaplanan</td>
                                <td>@item.KayitZamani.ToString().Substring(0,10)</td>
                                @if (Durum == "1. Tartım")
                                {
                                    <td> <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#myModal-@item.KantarKayitId"><i class="fa fa-warning"></i> 1. Tartım Yapılacak</button></td>
                                    <td>

                                        <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                            <i class="fa fa-warning"></i>
                                        </button>


                                    </td>
                                }
                                else if (Durum == "2. Tartım")
                                {
                                    <td> <button class="btn btn-info " type="button" data-toggle="modal" data-target="#myModal2-@item.KantarKayitId"><i class="fa fa-warning"></i> 2. Tartım Yapılacak</button></td>
                                    <td>
                                        <a class="btn btn-danger btn-circle" href='@Url.Action("IlkTartimYazdir","Kantar",new { id=item.KantarKayitId})' target="_blank" title="Yazdır">
                                            <i class="fa fa-print" style="color:white;"></i>
                                        </a>
                                        <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                            <i class="fa fa-warning"></i>
                                        </button>


                                    </td>
                                }
                                else
                                {
                                    <td> <button class="btn btn-success dim" type="button"><i class="fa fa-check"></i> Tamamlandı</button></td>
                                    <td>
                                        <a class="btn btn-danger btn-circle" href='@Url.Action("IlkTartimYazdir","Kantar",new { id=item.KantarKayitId})' target="_blank" title="Yazdır">
                                            <i class="fa fa-print" style="color:white;"></i>
                                        </a>
                                        <button class="btn btn-warning btn-circle" type="button" title="Bildir">
                                            <i class="fa fa-warning"></i>
                                        </button>


                                    </td>
                                }



                            </tr>

                                <div class="modal inmodal" id="myModal-@item.KantarKayitId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content animated flipInY">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h2 style="text-align:center;">@item.KantarMudiBilgileri.MudiAdiSoyadi</h2>
                                                <h4 style="text-align:center;">İlk Tartım Bilgisi Gir</h4>

                                            </div>

                                            @using (Html.BeginForm("IlkTartimKaydet", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                                            {
                                                <div class="modal-body">
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Gelen Miktar</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" placeholder="Örn 15588652740" name="UrunMiktari" autocomplete="off" />
                                                            </div>
                                                        </div>

                                                        <input type="hidden" value="@item.KantarKayitId" name="Id" />


                                                    </div>

                                                    <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                                </div>
                                                <div class="modal-footer">

                                                    <button type="submit" class="btn btn-info float-lg-right">ilk Tartım Kaydet</button>
                                                </div>
                                            }


                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal" id="myModal2-@item.KantarKayitId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h2 style="text-align:center;">@item.KantarMudiBilgileri.MudiAdiSoyadi</h2>
                                                <h4 style="text-align:center;">İkinci Tartım Bilgisi Gir</h4>

                                            </div>

                                            @using (Html.BeginForm("IkinciTartimKaydet", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                                            {<div class="modal-body">
                                                    <div class="card-body">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Gelen Miktar</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" placeholder="Örn 15588652740" name="UrunMiktari" autocomplete="off" />
                                                            </div>
                                                        </div>

                                                        <input type="hidden" value="@item.KantarKayitId" name="Id" />


                                                    </div>

                                                    <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                                </div>
                                                <div class="modal-footer">

                                                    <button type="submit" class="btn btn-info float-lg-right">ikinci Tartım Kaydet</button>
                                                </div>
                                            }


                                        </div>
                                    </div>
                                </div>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

    @Styles.Render("~/plugins/dataPickerStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/typehead")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")

    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'MudiKaydiListesi' },
                    { extend: 'pdf', title: 'MudiKaydiListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ID = $("#MudiTc").val();
            $.ajax({
                url: '/Kantar/MudiyiGetir/' + ID,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $(".typeahead_2").typeahead({ source: data });

                },
                error: function (hata, ajaxOptions, thrownError) {

                    alert(hata.responseText);
                }
            });
        });

    </script>
}


