﻿@model Tuple<List<YeniOtomasyonSistemi.Models.TanUrunUstGuruplari>, List<YeniOtomasyonSistemi.Models.TanGorevliler>>
@{
    ViewBag.Title = "YeniTartimKaydi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Yeni Tartım Kaydı</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    @using (Html.BeginForm("YeniTartimKaydi", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Mudi TCK / VKN</label>
                                <div class="col-sm-10">
                                    <input type="text" class="typeahead_2 form-control" placeholder="Örn 15588652740" name="MudiTckVKN" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Araç Plaka No</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" placeholder="Örn 06 FD 4455" name="AracPlakasi">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Araç Türü</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="AracTuru">
                                        <option>Kamyon</option>
                                        <option>Kamyonet</option>
                                        <option>Tır</option>
                                        <option>Traktör</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Araçtaki Ürün</label>
                                <div class="col-sm-10">
                                    <select name="Urun" class="form-control">
                                        @foreach (var item in Model.Item1)
                                        {
                                            <option>@item.UrunUstGurupAdi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Elüs Şekli</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="ElusTalep">
                                        <option>Elüs Mislen</option>
                                        <option>Elüs Aynen</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Tartımı Yapan Görevli :</label>
                                <div class="col-sm-10">
                                    <select name="TartimiYapanGorevli" class="form-control">
                                        @foreach (var item in Model.Item2)
                                        {
                                            <option>@item.GorevliAdiSoyadi</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-info float-lg-right">Tartım Kaydı Kaydet</button>
                            </div>
                        </div>
                        <br />
                        <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

}

@section Scripts {


    @Scripts.Render("~/plugins/typehead")


    <script type="text/javascript">
        $(document).ready(function () {
            var ID = $("#MudiTc").val();
            $.ajax({
                url: '/Kantar/MudiyiGetir/' + ID,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $(".typeahead_2").typeahead({ source: data });

                },
                error: function (hata, ajaxOptions, thrownError) {

                    alert(hata.responseText);
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });</script>
}


