﻿@model Tuple<List<YeniOtomasyonSistemi.Models.EksperKayisiKasalar>, YeniOtomasyonSistemi.Models.EksperKayisiRaflar, YeniOtomasyonSistemi.Models.EksperKayisiDepolar>
@{
    ViewBag.Title = "KayisiKasaListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Malatya Şubesi</h4>
<h5 style="color:green;text-align:center;">Raf: @Model.Item2.RafAdi</h5>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <table>
                        <thead>
                            <tr>
                                @{
                                    int BolumSayisi = (int)Model.Item2.RafBolumSayisi;
                                    int RafSayisi = (int)Model.Item2.RafKatSayisi;
                                }
                                @for (int i = 1; i <= BolumSayisi; i++)
                                {
                                    <th class="sorting_desc">Bölüm @i</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int KactaKaldi = 0;
                            }
                            @for (int i = 1; i <= RafSayisi; i++)
                            {
                                <tr>
                                    @{
                                        int KactaKaldiBaslangic = 0 + KactaKaldi;
                                        int KactaKaldiBitis = Convert.ToInt32(Model.Item2.HerBolumdekiKasaSayisi) + KactaKaldi;

                                    }
                                    @for (int j = 1; j <= BolumSayisi; j++)
                                    {
                                        <td>
                                            @for (int k = KactaKaldiBaslangic; k < KactaKaldiBitis; k++)
                                            {
                                                if (k < Model.Item1.Count)
                                                {
                                                    if (Model.Item1[k].UrunVarmi == "Evet")
                                                    {
                                            <div style="float:left">
                                               @{ 
                                                   string PopUpYazisi = "-----------Kasa Boş Miktarı :" + @Model.Item1[k].KasaBosMiktar.ToString() + "---------------------" + "Kasa Dolu Miktarı :" + @Model.Item1[k].KasaDoluMiktar.ToString()  +"---------------------" + "Kasa Kapasitesi :" + @Model.Item1[k].KasaToplamKapasitesi.ToString();
                                               }
                                                <a href='#' target="_blank" data-toggle="popover" data-trigger="hover" data-content="@Html.Raw(PopUpYazisi)" title="Kasa Adı :@Model.Item1[k].KasaAdi">
                                                    <img src="~/Content/patterns/dolu-depo.png" style="margin:20px;width:50px;height:50px"  />
                                                </a>
                                                <p style="font-size:12px;text-align:center">@Model.Item1[k].KasaDoluMiktar KG</p>
                                            </div>
                                                    }
                                                    else if (Model.Item1[k].UrunVarmi == "Hayır")
                                                    {

                                                        <div style="float:left">
                                                            <a href='#' target="_blank">
                                                                <img src="~/Content/patterns/bos-depo.png" style="margin:20px;width:50px;height:50px" title="@Model.Item1[k].KasaAdi" />
                                                            </a>
                                                            <p style="font-size:12px;text-align:center">@Model.Item1[k].KasaDoluMiktar KG</p>
                                                        </div>

                                                    }
                                                    else if (Model.Item1[k].UrunVarmi == "Rezerve")
                                                    {
                                                        <div style="float:left">
                                                            <a href='#' target="_blank">
                                                                <img src="~/Content/patterns/rezerve-depo.png" style="margin:20px;width:50px;height:50px" title="@Model.Item1[k].KasaAdi" />
                                                            </a>
                                                            <p style="font-size:12px;text-align:center">REZERVE</p>
                                                        </div>
                                                    }
                                                }
                                            }
                                            @{
                                                KactaKaldiBaslangic = KactaKaldiBaslangic + Convert.ToInt32(Model.Item2.HerBolumdekiKasaSayisi);
                                                KactaKaldiBitis = KactaKaldiBitis + Convert.ToInt32(Model.Item2.HerBolumdekiKasaSayisi);
                                            }
                                        </td>
                                    }
                                </tr>
                                KactaKaldi = KactaKaldi + 10;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'MudiKaydiListesi' },
                    { extend: 'pdf', title: 'MudiKaydiListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
   
}

