﻿@model List<YeniOtomasyonSistemi.Models.EksperKayisiDepolar>
@{
    ViewBag.Title = "KayisiDepoListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Kayısı Depo Listesi</h4>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr style="text-align:center;">
                                <th>Depo Adı</th>
                                <th>Boş Alanı</th>
                                <th>Dolu Alanı</th>
                                <th>Toplam Kapasite</th>

                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr style="text-align:center;">
                                    <td>@item.DepoAdi</td>
                                    <td>@item.DepoBosAlan.Value.ToString("##,###") KG</td>
                                    <td>@item.DepoDoluAlan.Value.ToString("##,###") KG</td>
                                    <td>@item.DepoKapasitesi.Value.ToString("##,###") KG</td>
                                    <td> <a href='@Url.Action("KayisiRafListesi","Eksper",new { id=item.DepoId})' class="btn btn-outline btn-warning">Rafları Gör</a></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr style="text-align:center;">

                                <td><b>Toplamlar :</b></td>

                                <td><b>@Model.Sum(t => t.DepoBosAlan).Value.ToString("##,###") KG </b></td>
                                <td><b>@Model.Sum(t => t.DepoDoluAlan).Value.ToString("##,###") KG</b></td>
                                <td><b>@Model.Sum(t => t.DepoKapasitesi).Value.ToString("##,###") KG </b></td>
                                <td> </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")


    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'KayisiDepoListesi' },
                    { extend: 'pdf', title: 'KayisiDepoListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit')
                                .css('width', '100%');
                        }
                    }
                ]

            });
        });
    </script>

}


