﻿@model Tuple<List<YeniOtomasyonSistemi.Models.EksperKayisiRaflar>, List<YeniOtomasyonSistemi.Models.TanUrunler>, YeniOtomasyonSistemi.Models.EksperKayisiDepolar>
@{
    ViewBag.Title = "KayisiRafListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Malatya Şubesi</h4>
<h2 style="color:#743a3a;text-align:center;">@Model.Item3.DepoAdi Raf Listesi</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    <div style="float:left;">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                            <i class="fa fa-plus"></i> Yeni Raf Ekle
                        </button>
                    </div>


                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 style="text-align:center;">Yeni Raf Ekle</h4>

                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("KayisiYeniRafEkle", "Eksper", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                    <div class="ibox">
                                        <div class="ibox-content">
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Raf Adı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Sadece Rakam Örn 01" name="RafAdi" autocomplete="off" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Raf Kat Sayısı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Sadece Rakam Örn 5" name="RafKatSayisi" autocomplete="off" />
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Raf Bölüm Sayısı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Sadece Rakam Örn 2" name="RafBolumSayisi">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Bölümdeki Kasa Sayısı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Sadece Rakam Örn 2" name="RafBolumdekiKasaSayisi">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Kasa Ağırlığı</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Sadece Rakam Örn 500" name="KasaAgirligi">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Rafta Bulunacak Ürün</label>
                                                <div class="col-sm-10">
                                                    <select name="UrunId" class="form-control">
                                                        @foreach (var item in Model.Item2)
                                                        {
                                                            <option value="@item.UrunId">@item.UrunKodu - @item.UrunAdi</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <input type="hidden" value="@Model.Item3.DepoId" name="id" />

                                        </div>
                                        <div class="ibox-footer">
                                            <button type="submit" class="btn btn-info float-lg-right">Rafı Kaydet</button>
                                        </div>
                                    </div>
                                        <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Raf Adı</th>
                                <th>Raftaki Ürün</th>
                                <th>Boş Alan</th>
                                <th>Dolu Alan</th>
                                <th>T.Alan </th>
                                <th>Kasa</th>

                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item1)
                            {
                                <tr>
                                    <td>@item.RafAdi</td>
                                    <td>@item.TanUrunler.UrunKodu - @item.TanUrunler.UrunAdi</td>
                                    <td>@item.RafBosAlan.Value.ToString("##,###") KG</td>
                                    <td>@item.RafDoluluk.Value.ToString("##,###")</td>
                                    <td>@item.RafKapasitesi.Value.ToString("##,###")</td>
                                    <td>@item.EksperKayisiKasalar.Count</td>

                                    <td>
                                        <a href='@Url.Action("KayisiKasaListesi","Eksper",new { id=item.RafId})' class="btn btn-outline btn-warning">Kasaları Gör</a>
                                        @if (@item.RafDoluluk == 0)
                                        {
                                            <a class="btn btn-warning" data-toggle="modal" data-target="#myModal-@item.RafId" title="Ürün Güncelle"><i class="fa fa-refresh"></i></a>
                                            <div class="modal inmodal" id="myModal-@item.RafId" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content animated flipInY">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                            <h4 style="text-align:center;">@item.RafAdi İsimli Rafı Güncelle</h4>

                                                        </div>
                                                        <div class="modal-body">
                                                            @using (Html.BeginForm("RaftakiUrunuGuncelle", "Eksper", FormMethod.Post, new { @class = "form-horizontal" }))
                                                            {
                                                            <div class="card-body">

                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Rafta Bulunacak Ürün</label>
                                                                    <div class="col-sm-10">
                                                                        <select name="UrunId" class="form-control">
                                                                            @foreach (var item2 in Model.Item2)
                                                                            {
                                                                                <option value="@item2.UrunId">@item2.UrunKodu - @item2.UrunAdi</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <input type="hidden" value="@item.RafId" name="id" />
                                                                <input type="hidden" value="@item.RafinBulunduguDepoId" name="depoId" />
                                                            </div>
                                                            <div class="ibox-footer">
                                                                <button type="submit" class="btn btn-info float-lg-right">Raftaki Ürünü Güncelle</button>
                                                            </div>
                                                                <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-danger" title="Rafta Ürün olduğundan güncelleme yapılamaz"><i class="fa fa-refresh"></i></a>
                                            <a href='@Url.Action("KayisiKasaListesi","Eksper",new { id=item.RafId})' class="btn btn-primary" title="Ürün Güncelle"><i class="fa fa-exchange"></i></a>
                                        }
                                    </td>
                                </tr>
                            }



                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Toplamlar</th>
                                <th>@Model.Item1.Sum(t => t.RafBosAlan).Value.ToString("##,###") KG</th>
                                <th>@Model.Item1.Sum(t => t.RafDoluluk).Value.ToString("##,###") KG</th>
                                <th>@Model.Item1.Sum(t => t.RafKapasitesi).Value.ToString("##,###") KG</th>
                                <th>@Model.Item1.Sum(t => t.EksperKayisiKasalar.Count)</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'MudiKaydiListesi' },
                    { extend: 'pdf', title: 'MudiKaydiListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });
    </script>

}


