﻿@model Tuple<List<YeniOtomasyonSistemi.Models.EksperKayisiDepoOnKayit>, List<YeniOtomasyonSistemi.Models.TanGorevliler>, List<YeniOtomasyonSistemi.Models.EksperKayisiRaflar>, List<YeniOtomasyonSistemi.Models.TanUrunler>>
@{
    ViewBag.Title = "KayisiDepoOnKayitListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Depo Ön Kayıt Listesi</h4>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    @using (Html.BeginForm("LaboratuvarAnalizListesi", "Laboratuvar", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group" style="float:left;">
                            <div class="input-group date col-lg-12">
                                <input type="date" class="form-control" disabled value="@String.Format("{0:yyyy-MM-dd}", DateTime.Now)">
                                <input type="date" class="form-control" name="tarih">
                                <div class="input-group col-lg-4">
                                    <button type="submit" class="btn btn-outline-info">
                                        <i class="fa fa-calendar"></i> Filtrele
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Tarih</th>
                                <th>TCK / VKN</th>
                                <th>Mudi AdSoyad</th>

                                <th>İletişim</th>
                                <th>Plaka</th>
                                <th>Ürün Kodu </th>
                              
                                <th>Ürün ISIN</th>

                                <th>Depo</th>
                                <th>Raf</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Item1)
                            {

                                string color = "";
                                if (item.Durumu == "Laboratuvardan Güncelleme Yapıldı" || item.Durumu == "Laboratuvardan Ekleme Yapıldı")
                                {

                                    color = "lightyellow";
                                }
                                else if (item.Durumu == "Tamamlandı")
                                {

                                    color = "#ceff8f";
                                }
                                else if (item.Durumu == "RedEdildi")
                                {

                                    color = "#f8c9c9";
                                }
                                <tr style="background-color:@color;">
                                    <td>@item.KayitTarihi.ToString().Substring(0, 10)</td>
                                    <td>@item.KantarTartimKayitlari.KantarMudiBilgileri.MudiTcVkn</td>
                                    <td>@item.KantarTartimKayitlari.KantarMudiBilgileri.MudiAdiSoyadi</td>
                                    <td>@item.KantarTartimKayitlari.KantarMudiBilgileri.Telefon</td>
                                    <td>@item.KantarTartimKayitlari.AracPlakasi</td>
                                    <td>@item.LabLaboratuvarAnalizListesi.LabKayisiAnalizDetaylari.Select(t => t.SonucUrunKodu).FirstOrDefault()</td>

                                    <td>@item.LabLaboratuvarAnalizListesi.LabKayisiAnalizDetaylari.Select(t => t.SonucUrunISINKODU).FirstOrDefault()</td>

                                    <td>@item.DepoAdi</td>
                                    <td>@item.RafAdi</td>
                                    <td>
                                        <a class="btn btn-primary" style="color:white;" data-toggle="modal" data-target="#myModal-@item.EksperGirisListeId">
                                            <i class="fa fa-exchange"></i>
                                        </a>

                                        <a class="btn btn-danger" style="color:white;" data-toggle="modal" data-target="#myModal1-@item.EksperGirisListeId">
                                            <i class="fa fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                                <div class="modal inmodal" id="myModal-@item.EksperGirisListeId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content animated flipInY">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 style="text-align:center;">Yeni Depo Girişi Ekle</h4>

                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("YeniTartimKaydi", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                                                {
                                                    <div class="ibox-content">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Ürün Gurubu</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label" style="color:orange;">@item.LabLaboratuvarAnalizListesi.TanUrunUstGuruplari.UrunUstGurupAdi</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Ürün ISINKODU</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label" style="color:orange;">@item.LabLaboratuvarAnalizListesi.LabKayisiAnalizDetaylari.Select(t => t.SonucUrunKodu).FirstOrDefault()</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Ürün Kodu</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label" style="color:green;">@item.LabLaboratuvarAnalizListesi.LabKayisiAnalizDetaylari.Select(t => t.SonucUrunKodu).FirstOrDefault()</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Ürün Adı</label>
                                                            <div class="col-sm-8">
                                                                <label class="col-form-label" style="color:green;">@item.LabLaboratuvarAnalizListesi.LabKayisiAnalizDetaylari.Select(t => t.SonucUrunAdi).FirstOrDefault()</label>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Uygun Raf Seçiniz</label>
                                                            <div class="col-sm-8">
                                                                <select name="Urun" class="form-control">
                                                                    @{

                                                                        var AnalizDetaylari = item.LabLaboratuvarAnalizListesi.LabKayisiAnalizDetaylari;
                                                                        string UrunKodu = AnalizDetaylari.Select(t => t.SonucUrunKodu).FirstOrDefault();
                                                                        int UrunIdBul = Model.Item4.Where(t => t.UrunKodu == UrunKodu).Select(t => t.UrunId).FirstOrDefault();
                                                                        var RafListesiTopla = Model.Item3.Where(t => t.RaftaBulunanUrunId == UrunIdBul).ToList();
                                                                    }
                                                                    @foreach (var item2 in RafListesiTopla)
                                                                    {
                                                                        <option value="@item2.RafId">@item2.RafAdi</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Kaydı Yapan Görevli :</label>
                                                            <div class="col-sm-8">

                                                                <select name="TartimiYapanGorevli" class="form-control">
                                                                    @foreach (var item2 in Model.Item2)
                                                                    {
                                                                        <option>@item2.GorevliAdiSoyadi</option>
                                                                    }


                                                                </select>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-info float-lg-right">Giriş Talimatı Kaydet</button>
                                                    </div>
                                                    <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal inmodal" id="myModal1-@item.EksperGirisListeId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 style="text-align:center;">Girişi Red ET</h4>

                                            </div>
                                            <div class="modal-body">
                                                @using (Html.BeginForm("YeniTartimKaydi", "Kantar", FormMethod.Post, new { @class = "form-horizontal" }))
                                                {
                                                    <div class="ibox-content">
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Red Eden  :</label>
                                                            <div class="col-sm-8">

                                                                <select name="RedEden" class="form-control">
                                                                    <option>İş Yeri Red</option>
                                                                    <option>Mudi Red</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Red Nedeni Yazınız</label>
                                                            <div class="col-sm-8">
                                                                <textarea name="RedNedeni" class="text-box chosen-container-multi" rows="10" cols="60"></textarea>
                                                            </div>
                                                        </div>


                                                        <div class="form-group row">
                                                            <label class="col-sm-3 col-form-label">Red Eden Görevli :</label>
                                                            <div class="col-sm-8">

                                                                <select name="KaydiYapanGorevli" class="form-control">
                                                                    @foreach (var item2 in Model.Item2)
                                                                    {
                                                                        <option>@item2.GorevliAdiSoyadi</option>
                                                                    }


                                                                </select>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="id" value="@item.EksperGirisListeId">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-danger float-lg-right">Girişi Red Et</button>
                                                    </div>
                                                    <h4 style="color:red;text-align:center;">@ViewBag.Mesaj</h4>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                    <small> ** G.Y - Laboratuvardan Analize ilişkin Güncelleme Yapıldı</small>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")

    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")

    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/typehead")

    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")

    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({

                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Kayisi_Deposu_On_Kayit_Listesi' },
                    { extend: 'pdf', title: 'Kayisi_Deposu_On_Kayit_Listesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '12px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var ID = $("#MudiTc").val();
            $.ajax({
                url: '/Kantar/MudiyiGetir/' + ID,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $(".typeahead_2").typeahead({ source: data });

                },
                error: function (hata, ajaxOptions, thrownError) {

                    alert(hata.responseText);
                }
            });
        });
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}


