﻿@model List<YeniOtomasyonSistemi.Models.DArizaKayitlari>
@{
    ViewBag.Title = "ArizaKayitistesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Yeni Arıza Kaydı Ekle</button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h2 style="text-align:center;color:darkred;">Yeni Arıza Kaydı Ekle</h2>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    @using (Html.BeginForm("ArizaKaydet", "DepoTeknisyeni", FormMethod.Post))
                                    {
                                        <div class="ibox ">

                                            <div class="ibox-content">
                                                <div class="form-group">
                                                    <label class="font-normal">Arıza Adı :</label>
                                                    <div class="form-group">
                                                        <input class="form-control" name="ArizaBasligi" placeholder=" Örn : Silo 1 beton çatlaması">
                                                    </div>
                                                </div>

                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group" id="data_1">
                                                    <label class="font-normal">Arıza Tarihi</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" name="ArizaTarihi" value="@DateTime.Today.ToString().Substring(0,10)">
                                                    </div>
                                                </div>
                                                <div class="hr-line-dashed"></div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Arıza Açıklaması</label>
                                                    <textarea id="message" required="required" class="form-control" name="ArızaAciklamasi" data-parsley-trigger="keyup"
                                                              data-parsley-minlength="20" data-parsley-maxlength="1450"
                                                              data-parsley-minlength-message="20 karakter altı mesaj girilmez"
                                                              data-parsley-validation-threshold="10" rows="350"></textarea>
                                                </div>
                                               
                                            </div>
                                            <!-- /.card-body -->



                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Arıza Kaydet</button>
                                        </div>

                                    }
                              
                                        </div>
                                    </div>
                                </div>




                        <!-- /modals -->
                    </div>

                </div>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Açık Arıza Kayıtları</a></li>
                        <li><a class="nav-link" data-toggle="tab" href="#tab-2">Tamamlanmış Arıza Kayıtları</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Tarih</th>
                                            <th>No</th>
                                            <th>Arıza Konusu </th>
                                            <th>Açıklama</th>

                                            <th>Kaydeden</th>
                                            <th>Durumu</th>
                                            <th>İşlemler</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            string KullaniciAdi = Session["KullaniciAdi"].ToString();
                                        }
                                        @foreach (var item in Model.Where(t => t.Durumu == "Arıza Kaydı Açıldı").OrderByDescending(t => t.ArizaId).ToList())
                                        {
                                            <tr>
                                                <td>@item.ArizaZamani</td>
                                                <td>@item.ArizaId</td>
                                                <td>@item.ArizaKonusu</td>
                                                <td>@item.ArizaIcerigi</td>

                                                <td>@item.KaydedenUser</td>
                                                @if (@item.Durumu == "Sonuçlandı")
                                                {
                                                    <td style="color:green;">@item.Durumu</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;">@item.Durumu</td>
                                                }

                                                <td>
                                                    @if (KullaniciAdi == "Admin")
                                                    {
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                                <button type="button" class="btn btn-info btn-flat">İşlemler</button>

                                                                <span class="sr-only">İşlemler Listesi</span>
                                                                <div class="dropdown-menu" role="menu">
                                                                    <a class="dropdown-item" href='@Url.Action("ArizaSonucuEkle","DepoTeknisyeni",new { id=item.ArizaId})'>Sonuç Ekle</a>
                                                                    <a class="dropdown-item" href='@Url.Action("ArizaYazdir","DepoTeknisyeni",new { id=item.ArizaId})' target="_blank">Yazdır</a>

                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item disabled" href="#" style="color:red;">Rafı Sil</a>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-round btn-success" href='@Url.Action("ArizaYazdir","DepoTeknisyeni",new { id=item.ArizaId})' target="_blank"><i class="fa fa-print">Yazdır</i></a>
                                                    }




                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover dataTables-example1">
                                    <thead>
                                        <tr>
                                            <th>Tarih</th>
                                            <th>No</th>
                                            <th>Arıza Konusu </th>
                                            <th>Açıklama</th>

                                            <th>Kaydeden</th>
                                            <th>Durumu</th>
                                            <th>İşlemler</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.Where(t => t.Durumu == "Sonuçlandı").OrderByDescending(t => t.ArizaId).ToList())
                                        {
                                            <tr>
                                                <td>@item.ArizaZamani</td>
                                                <td>@item.ArizaId</td>
                                                <td>@item.ArizaKonusu</td>
                                                <td>@item.ArizaIcerigi</td>

                                                <td>@item.KaydedenUser</td>
                                                @if (@item.Durumu == "Sonuçlandı")
                                                {
                                                    <td style="color:green;">@item.Durumu</td>
                                                }
                                                else
                                                {
                                                    <td style="color:red;">@item.Durumu</td>
                                                }

                                                <td>
                                                    @if (KullaniciAdi == "Admin")
                                                    {
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-info btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                                <button type="button" class="btn btn-info btn-flat">İşlemler</button>

                                                                <span class="sr-only">İşlemler Listesi</span>
                                                                <div class="dropdown-menu" role="menu">
                                                                    <a class="dropdown-item" href='@Url.Action("ArizaSonucuEkle","DepoTeknisyeni",new { id=item.ArizaId})'>Sonuç Düzenle</a>
                                                                    <a class="dropdown-item" href='@Url.Action("ArizaYazdir","DepoTeknisyeni",new { id=item.ArizaId})' target="_blank">Yazdır</a>

                                                                    <div class="dropdown-divider"></div>
                                                                    <a class="dropdown-item disabled" href="#" style="color:red;">Rafı Sil</a>
                                                                </div>
                                                            </button>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-round btn-success" href='@Url.Action("ArizaYazdir","DepoTeknisyeni",new { id=item.ArizaId})' target="_blank"><i class="fa fa-print">Yazdır</i></a>
                                                    }




                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example1').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
}



