﻿@model YeniOtomasyonSistemi.Models.DepoBakimlari
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Depo Bakım Ayrıntısı </title>
    <link href="~/Content/CiktiDizaynlari/style.css" rel="stylesheet" />

</head>
<body>
    @{
        DateTime Zaman = (DateTime)Model.KayitZamani;
        string KullaniciAdi = Session["KullaniciAdi"].ToString();
        DateTime SimdikiZaman = DateTime.Now;
        string SubeKodu = Model.SubeAdi;
        YeniOtomasyonSistemi.Models.LidosSistemiEntities db = new YeniOtomasyonSistemi.Models.LidosSistemiEntities();
        string SubeAdi = db.LSubeler.Where(t => t.SubeKisaKodu == SubeKodu).Select(t => t.SubeAdi).FirstOrDefault();
    }

    <!-- ./wrapper -->

    <header class="clearfix">
        <div id="logo">
          
            <img src="~/Content/CiktiDizaynlari/logomuz.png" />
        </div>
        <h1>Tmo-Tobb LİDAŞ </h1>
        <h1>@SubeAdi  Lisanslı Depoculuk Şubesi</h1>
        <div id="company" class="clearfix">


            <strong>TMO-TOBB LİDAŞ</strong><br>
            <div>Eskişehir Yolu 9. km. Dumlupınar Bulvarı </div>
            <div>TOBB İkiz Kuleler No: 252 D blok Kat 27</div>

            <div>Çankaya / ANKARA</div>
            <div>info@tmo-tobblidas.com.tr</div>
            <div>
                Tel : 0312 219 63 82 – 84
                Fax : 0312 2196385
            </div>

        </div>
        <div id="project">
            <div><span>Kayıt No :</span> @DateTime.Now.Year / @Model.BakimId</div>
            <div><span>Bakımı Yapan :</span> @Model.KaydedenKullanici</div>
            <div><span>Bakım Türü :</span>@Model.BakimGurubu</div>
            <div><span>Bakım Adı :</span> @Model.BakimAdi</div>
            <div><span>Bakım Tarihi :</span> @Model.BakimTarihi</div>


        </div>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Açıklama</th>

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td style="text-align:center;font-size:12px;">@Model.BakimAciklamasi</td>

                </tr>



            </tbody>
        </table>
        <div id="notices">
            <div>Evrak Bilgileri:</div>
            <div class="notice">Kayıt Tarihi @Zaman.ToLongDateString()</div>

        </div>
        <br />
        <br />
        <br />
        <hr />
        <h3 style="color:orange;text-align:center;">İMZALAR</h3>
        <table style="text-align:left;">
            @if (KullaniciAdi == "Admin")
            {
                <tbody style="text-align:left;">
                    <tr style="text-align:left;">
                        <td style="text-align:left;">
                            Takip Eden Personel
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            Kaan YİĞİT
                            <br />
                            Bilgisayar İşletmeni
                        </td>
                    </tr>


                </tbody>
            }
            else
            {
                <tbody style="text-align:left;">
                    <tr style="text-align:left;">
                        <td style="text-align:left;">DEPO TEKNİSYENİ</td>
                        <td style="text-align:left;"> </td>
                        <td style="text-align:left;">IMZA</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="text-align:left;">
                        <td style="text-align:left;">ŞUBE MÜDÜRÜ</td>
                        <td style="text-align:left;"></td>
                        <td style="text-align:left;">IMZA</td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            }

        </table>


    </main>
    <footer>
        <div>Bu Evrak Bilgilendirme amaçlıdır.</div>
    </footer>

    <script type="text/javascript">

        window.addEventListener("load", window.print());
    </script>
</body>
</html>
