﻿@model List<YeniOtomasyonSistemi.Models.DepoBakimlari>
@{
    ViewBag.Title = "DepoBakimListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="color:orange;text-align:center;">TMO-TOBB LİSANSLI DEPOCULUK A.Ş</h2>
<h4 style="color:green;text-align:center;">Depo Bakım Listesi</h4>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title" style="height:65px">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                        <i class="fa fa-plus"></i> Yeni Bakım Ekle
                    </button>
                    <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated flipInY">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 style="text-align:center;">Yeni Bakım Ekle</h4>
                                   
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("BakimKaydet", "DepoTeknisyeni", FormMethod.Post))
                                    {
                                        <div class="modal-body">

                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Bakım Başlığı (Adı)</label>
                                                    <input class="form-control" name="BakimBasligi" placeholder=" Örn : Silo 1- Silo içi Bakım">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Bakım Tarihi</label>
                                                    <input type="text" class="form-control" data-inputmask="'mask': '99.99.9999'" placeholder="26.05.2021" name="BakimTarihi">
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Bakım Gurubu</label>
                                                    <select class="form-control" name="BakimGurubu">
                                                        <option>Bakım Türü Seçiniz</option>
                                                        <option>Günlük Bakım</option>
                                                        <option>Haftalık Bakım</option>
                                                        <option>Aylık Bakım</option>
                                                        <option>Yıllık Bakım</option>
                                                        <option>Arıza Bakımı</option>
                                                        <option>İyileştirme Bakımı</option>
                                                        <option>Planlanmamış Bakım</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Bakım Açıklaması</label>
                                                    <textarea id="message" required="required" class="form-control" name="BakimAciklamasi" data-parsley-trigger="keyup"
                                                              data-parsley-minlength="20" data-parsley-maxlength="3750"
                                                              data-parsley-minlength-message="20 karakter altı mesaj girilmez"
                                                              data-parsley-validation-threshold="10"></textarea>
                                                </div>

                                            </div>
                                            <!-- /.card-body -->



                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Bakımı Kaydet</button>
                                        </div>

                                    }
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                    

            </div>
                <br />
            <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Bakım Adı </th>
                            <th>Bakım Zamanı</th>
                            <th>Kaydeden</th>
                            <th>İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BakimId</td>
                                <td>@item.BakimAdi</td>
                                <td>@item.BakimTarihi</td>
                                <td>@item.KaydedenKullanici</td>
                                <td><a class="btn btn-warning" href='@Url.Action("BakimYazdir","DepoTeknisyeni",new { id=item.BakimId})' target="_blank">Yazdır</a> </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
            </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example1').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
}
