﻿@model List<YeniOtomasyonSistemi.Models.LMenuler>
@{
    ViewBag.Title = "AnaMenuListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Yeni AnaMenu Ekle</button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Yeni AnaMenu Ekle</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("AnaMenuEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                    {
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Ana Menü Adı :</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control" placeholder="Ana Menü Adı" name="AnaMenuAdi">
                                            </div>
                                        </div>
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Ana Menü İcon Adı</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control" placeholder="İcon Adı Örn fa fa-home" name="IconAdi">
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Kaydet</button>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>




                        <!-- /modals -->
                    </div>

                </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                            <tr>
                                <th>Menü Id</th>
                                <th>Menü Adı</th>
                                <th>İconu</th>
                                <th>Düzenle</th>

                            </tr>
                        </thead>


                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.AnaMenuId</td>
                                    <td>@item.AnaMenuAdi</td>
                                    <td><i class="@item.IconAdi"></i></td>
                                    <td><button class="btn-small btn-success">Düzenle</button></td>

                                </tr>


                            }

                        </tbody>
                    </table>
                    

                </div>
            </div>
        </div>
    </div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">$(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
}


