﻿@model Tuple<List<YeniOtomasyonSistemi.Models.TanGorevliler>, List<YeniOtomasyonSistemi.Models.LSubeler>>
@{
    ViewBag.Title = "GorevliListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Yeni Görevli Ekle</button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Yeni Görevli Ekle</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("GorevliEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                                    {
                                        <div class="form-group row ">
                                            <label class="control-label col-md-3 col-sm-3 ">Görevli Adı soyadı :</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="GorevliAdiSoyadi">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 ">Ünvanı</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <select class="form-control" name="GorevUnvani">
                                                    <option>Eksper</option>
                                                    <option>Depo Teknisyeni</option>
                                                    <option>Numune Alma Personeli</option>
                                                    <option>Kantar Memuru</option>
                                                    <option>Laboratuvar Görevlisi</option>
                                                    <option>Laboratuvar Sorumlusu</option>
                                                    <option>Şube Müdürü</option>


                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 ">Görevi Birimi</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <select class="form-control" name="GorevBirimi">
                                                    <option>Kantar</option>
                                                    <option>Numune Alma</option>
                                                    <option>Laboratuvar</option>
                                                    <option>Eksper</option>
                                                    <option>Muhasebe</option>
                                                    <option>Teknisyen</option>
                                                    <option>Saha İşçisi</option>
                                                    <option>Şube Müdürü</option>


                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-3 col-sm-3 ">Görev Şubesi</label>
                                            <div class="col-md-9 col-sm-9 ">
                                                <select class="form-control" name="SubeAdi">
                                                    @foreach (var item2 in Model.Item2)
                                                    {
                                                        <option>@item2.SubeAdi</option>
                                                    }


                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Kaydet</button>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>




                        <!-- /modals -->
                    </div>

                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Görevli AdıSoyadı</th>
                            <th>Ünvanı</th>
                            <th>Şube Kodu</th>
                            <th>Görev Birimi</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Item1)
                        {
                            <tr>
                                <td>@item.GorevliAdiSoyadi</td>
                                <td>@item.GorevliUnvani</td>
                                <td>@item.LSubeler.SubeAdi</td>
                                <td>@item.GorevBirimi</td>
                                <td>
                                    <div class="btn-group show">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            İşlemler
                                        </button>
                                        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                            <a class="dropdown-item" href='@Url.Action("KullaniciGuncelle","Admin",new {id=item.GorevliId })'><i class="fa fa-edit"></i>Düzenle</a>
                                            <a class="dropdown-item" href='@Url.Action("KullaniciMenuleri","Admin",new {id=item.GorevliId })'><i class="fa fa-database"></i>Menüleri Belirle</a>
                                        </div>
                                    </div>

                                </td>

                            </tr>


                        }
                </table>


            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });</script>
}



