﻿@model Tuple<List<YeniOtomasyonSistemi.Models.TanISINKodlari>, List<YeniOtomasyonSistemi.Models.TanUrunGuruplari>>
@{
    ViewBag.Title = "ISIN Kodu Tanımlamaları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper wrapper-content animated fadeInRight">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h4 style="text-align:center;">Şubede Tanımlı ISIN Kodları </h4>
                <br />
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3000">
                    <i class="fa fa-plus"></i> Yeni ISIN Ekle
                </button>

                <div class="modal inmodal" id="myModal3000" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 style="text-align:center;">Yeni Ürün Ekle</h4>

                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("ISINKaydet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                {
                                    <div class="ibox-content">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Gurubu Seçiniz</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="UrunGurubu" id="Urun" required aria-required="true">
                                                    @foreach (var item in Model.Item2)
                                                    {
                                                        <option value="@item.UrunGurupId">@item.UrunGurupAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Ürün Adı</label>
                                            <div class="col-sm-10">
                                                <select id="Urunler" class="form-control" name="UrunId">
                                                    <option>Öncelikle Gurup Seçimi Yapmalısınız</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Hasat Dönemi</label>
                                            <div class="col-sm-10">
                                                <select name="HasatDonemi" class="form-control">
                                                    <option>2020</option>
                                                    <option>2021</option>
                                                    <option>2022</option>
                                                    <option>2023</option>
                                                    <option>2024</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">ISIN Kodu :</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  name="ISINKodu" required aria-required="true" autocomplete="off">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="ibox-footer">
                                        <button type="submit" class="btn btn-info float-lg-right">ISIN Kaydet</button>

                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>

                            <th>Ürün Gurubu</th>
                            <th>Ürün Kodu</th>
                            <th>Ürün Adı</th>
                            <th>ISIN Kodu</th>
                            <th>Hasat Dönemi</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Item1)
                        {
                        <tr>
                            <td>@item.TanUrunler.TanUrunGuruplari.UrunGurupAdi</td>
                            <td>@item.TanUrunler.UrunKodu</td>
                            <td>@item.TanUrunler.UrunAdi</td>

                            <td>@item.ISINKodu</td>
                            <td>@item.HasatDonemi</td>
                            <td>
                                <a data-toggle="modal" data-target="#myModal3-@item.TanISINKodId">
                                    <i class="fa fa-times text-danger"></i>
                                </a>

                            </td>
                        </tr>
                        
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>

</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

<script type="text/javascript">
    $(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 50,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ISINKoduListesi' },
                    { extend: 'pdf', title: 'ISINKoduListesi' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

          $('#Urun').change(function () {
            // Seçilen Kategorinin ID sini alıyoruz.
            var KategoriID = $(this).val();
            /*Seçilen KategoriID sini kullanarak
            Kategori(Controller) sınıfı içerisindeki AltKategorileriGetir
            Action metodunu çağırıyoruz.
            Bu metoddan dönen liste sayesinde .each fonksiyonu ile
            AltKategori isimli DropDownList nesnesini dolduruyoruz.*/
            if (KategoriID != null && KategoriID != '') {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("GetirUrunler", "Admin")',
                    data: { id: KategoriID },
                    success: function (data) {
                        var s = '<option value="-1">Ürün Listesini Görmek için Tıklayınız</option>';
                        for (var i = 0; i < data.length; i++) {
                            s += '<option value="' + data[i].DepartmentID + '">' + data[i].DepartmentCode+"-" + data[i].DepartmentName + '</option>';
                        }
                        $("#Urunler").html(s);
                    }  ,
                    error: function () {
                        /*Bu metod ile Ajax işlemi başarısız
                        olursa eğer hata mesajı verebiliyoruz.*/
                        alert("Hata");
                    },
                    beforeSend: function () {
                        /*Burada ise Form Post edilmeden önce
                        işlemler yapılabilir.Örnek olarak Loading, yükleniyor vs..*/
                    },
                    complete: function () {
                        /*Burada ise Form Post edildikten sonra
                        işlemler yapılabilir.Örnek olarak yükleme tamamlandı vs..*/
                    }
                });
            }
        });

});


</script>
}
