﻿@model Tuple<List<YeniOtomasyonSistemi.Models.LMenuler>,List<YeniOtomasyonSistemi.Models.LMenuAlt>,List<YeniOtomasyonSistemi.Models.LMenuAlt>,YeniOtomasyonSistemi.Models.LKullanicilar>
@{
    ViewBag.Title = "KullaniciMenuleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 style="text-align:center;color:darkred;">@Model.Item4.KullaniciAdi </h2>
        <h4 style="text-align:center;color:blue;">Kullanıcısını Güncellemektesiniz</h4>
    </div>
    <div class="col-lg-2">


    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">
                    @using (Html.BeginForm("KullaniciMenuGuncelle", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {

                        var AnaMenuler = Model.Item1.GroupBy(t => t.AnaMenuId).ToList();
                        foreach (var item in AnaMenuler)
                        {
                            <div class="form-group row">
                                <label class="col-md-12 col-sm-12  control-label" style="text-align:center;color:red">
                                    <h4> Ana Menü Adı :  @item.Select(t => t.AnaMenuAdi).FirstOrDefault();</h4>

                                </label>
                                <div class="col-md-9 col-sm-9 ">
                                    @foreach (var item2 in Model.Item3)
                                    {
                                        if (item2.AnaMenuId == item.Select(t => t.AnaMenuId).FirstOrDefault())
                                        {
                                            var Sorgula = Model.Item2.Where(t => t.AltMenuId == item2.AltMenuId).FirstOrDefault();
                                            if (Sorgula != null)
                                            {

                                                <div class="i-checks">
                                                    <label>
                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                            <input type="checkbox" value="@item2.AltMenuId" checked="checked" style="position: absolute; opacity: 0;" name="isim[]">
                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                        </div> <i></i>  @item2.AltMenuAdi
                                                    </label>
                                                </div>

                                                
                                            }

                                            else
                                            {
                                                <div class="i-checks">
                                                    <label>
                                                        <div class="icheckbox_square-green" style="position: relative;">
                                                            <input type="checkbox" value="@item2.AltMenuId" style="position: absolute; opacity: 0;" name="isim[]">
                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                        </div>
                                                        <i></i> @item2.AltMenuAdi
                                                    </label>
                                                </div>



                                            }

                                        }
                                    }


                                </div>

                            </div>
                            <div class="ln_solid"></div>

                        }
                        <input type="hidden" name="UserId" value="@Model.Item4.KullaniciId" />


                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">

                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Güncelle</button>
                            </div>
                        </div>


                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
$(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });</script>
}


