﻿@model Tuple<YeniOtomasyonSistemi.Models.LKullanicilar, List<YeniOtomasyonSistemi.Models.LSubeler>>
@{
    ViewBag.Title = "KullaniciGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 style="text-align:center;color:darkred;">@Model.Item1.KullaniciAdi </h2>
        <h4 style="text-align:center;color:blue;">Kullanıcısını Güncellemektesiniz</h4>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                
                <div class="ibox-content">
                    @using (Html.BeginForm("KullaniciGuncelle", "Admin", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                            <div class="col-sm-10">
                                <input type="text" value="@Model.Item1.KullaniciAdi" name="KullaniciAdi" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Şifre</label>
                            <div class="col-sm-10">
                                <input type="text" value="@Model.Item1.KullaniciSifresi" name="KullaniciSifresi" required="required" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Kullanıcı Rolü</label>
                            <div class="col-sm-10 ">
                                <select class="form-control" name="KullaniciRolu">
                                    <option>@Model.Item1.KullaniciRolu</option>
                                    <option>Admin</option>
                                    <option>Insan Kaynakları</option>
                                    <option>Kantar</option>
                                    <option>Muhasebe</option>
                                    <option>Şube Müdürü</option>
                                    <option>Depo Teknisyeni</option>
                                    <option>Yetki sınıflandırıcı</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Kullanıcı Şubesi</label>
                            <div class="col-sm-10 ">
                                <select class="form-control" name="KullaniciSubesi">
                                    <option>@Model.Item1.LSubeler.SubeAdi</option>

                                    @foreach (var item2 in Model.Item2)
                                    {
                                        <option>@item2.SubeAdi</option>
                                    }



                                </select>
                            </div>
                        </div>
                        <input type="hidden" value="@Model.Item1.KullaniciId" name="id" />
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">

                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Güncelle</button>
                            </div>
                        </div>


                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">$(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });</script>
}

