﻿@model Tuple<List<YeniOtomasyonSistemi.Models.TanUrunUstGuruplari>, List<YeniOtomasyonSistemi.Models.TanUrunGuruplari>, List<YeniOtomasyonSistemi.Models.TanUrunler>>
@{
    ViewBag.Title = "Ürün Tanımlamaları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper wrapper-content animated fadeInRight">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h4 style="text-align:center;">ÜRÜNLER </h4>
                <br />
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3000">
                    <i class="fa fa-plus"></i> Yeni Ürün Ekle
                </button>

                <div class="modal inmodal" id="myModal3000" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 style="text-align:center;">Yeni Ürün Ekle</h4>

                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("UrunKaydet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                {
                                    <div class="ibox-content">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Ürün Kodu</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Örn 1122" name="UrunKodu">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Ürün Adı</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Makarnalık Buğday No:2" name="UrunAdi">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Ürün Derecesi</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Sadece rakam yazınız Örn 1 " name="UrunDerecesi">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Ürün Gurubu :</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="UrunGurubu">

                                                    @foreach (var item in Model.Item2)
                                                    {
                                                        <option> @item.UrunGurupAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="ibox-footer">
                                        <button type="submit" class="btn btn-info float-lg-right">Ürünü Kaydet</button>

                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover dataTables-example2">
                    <thead>
                        <tr>
                            <th>Ürün Üst Gurubu</th>
                            <th>Ürün Gurubu</th>
                            <th>Ürün Kodu</th>
                            <th>Ürün Adı</th>
                            <th>Derecesi</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item3)
                        {
                            <tr>
                                <td>@item.TanUrunGuruplari.TanUrunUstGuruplari.UrunUstGurupAdi</td>
                                <td>@item.TanUrunGuruplari.UrunGurupAdi</td>
                                <td>@item.UrunKodu</td>
                                <td>@item.UrunAdi</td>
                                <td>@item.UrunDerecesi</td>
                                <td>
                                    <a data-toggle="modal" data-target="#myModal3-@item.UrunId">
                                        <i class="fa fa-check text-navy"></i>
                                    </a>

                                </td>
                            </tr>
                            <div class="modal inmodal" id="myModal3-@item.UrunId" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 style="text-align:center;">@item.UrunAdi</h4>
                                            <h5 style="text-align:center;">Ürününü Güncelle</h5>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("UrunGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                            {
                                                <div class="ibox-content">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ürün Kodu</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" value="@item.UrunKodu" name="UrunKodu">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ürün Adı</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" value="@item.UrunAdi" name="UrunAdi">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ürün Derecesi</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" value="@item.UrunDerecesi" name="UrunDerecesi">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Ürün Gurubu :</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" name="UrunGurubu">
                                                                <option>@item.TanUrunGuruplari.UrunGurupAdi</option>
                                                                @foreach (var item2 in Model.Item2)
                                                                {
                                                                    <option> @item2.UrunGurupAdi</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" value="@item.UrunId" name="id" />
                                                </div>
                                                <div class="ibox-footer">
                                                    <button type="submit" class="btn btn-info float-lg-right">Ürünü Güncelle</button>

                                                </div>


                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h4 style="text-align:center;">Ürün Üst Gurupları </h4>
                <br />
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                    <i class="fa fa-plus"></i> Yeni Ürün Üst Gurubu Ekle
                </button>

                <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 style="text-align:center;">Yeni Ürün Üst Gurubu Ekle</h4>

                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("UrunUstGurubuKaydet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                {
                                    <div class="ibox-content">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Üst Gurup Kodu</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="4400" name="UstGurupKodu">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Üst Gurup Adı</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Kayısı" name="UstGurupAdi">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="ibox-footer">
                                        <button type="submit" class="btn btn-info float-lg-right">Üst Gurubu Kaydet</button>

                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>Ust Gurup Kodu</th>
                            <th>Ust Gurup Adı</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Item1)
                        {
                            <tr>
                                <td>@item.UrunUstGurupKodu</td>
                                <td>@item.UrunUstGurupAdi</td>
                                <td>
                                    <a data-toggle="modal" data-target="#myModal-@item.UrunUstGurupKoduId">
                                        <i class="fa fa-check text-navy"></i>
                                    </a>

                                </td>
                            </tr>

                            <div class="modal inmodal" id="myModal-@item.UrunUstGurupKoduId" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 style="text-align:center;">@item.UrunUstGurupAdi</h4>
                                            <h5 style="text-align:center;">Ürün Grubunu Güncelle</h5>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("UrunUstGurubuGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                            {
                                                <div class="ibox-content">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Üst Gurup Kodu</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="UstGurupKodu" value="@item.UrunUstGurupKodu" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Üst Gurup Adı</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="UstGurupAdi" value="@item.UrunUstGurupAdi" />
                                                        </div>
                                                    </div>

                                                    <input type="hidden" name="id" value="@item.UrunUstGurupKoduId" />
                                                </div>
                                                <div class="ibox-footer">
                                                    <button type="submit" class="btn btn-info float-lg-right">Üst Gurubu Güncelle</button>

                                                </div>


                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h4 style="text-align:center;">Ürün Gurupları </h4>
                <br />
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal20">
                    <i class="fa fa-plus"></i> Yeni Ürün  Gurubu Ekle
                </button>

                <div class="modal inmodal" id="myModal20" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content animated bounceInRight">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 style="text-align:center;">Yeni Ürün  Gurubu Ekle</h4>

                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("UrunGurubuKaydet", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                {
                                    <div class="ibox-content">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Üst Gurup Kodu</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="4400" name="UstGurupKodu">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Üst Gurup Kısa Adı</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="4400" name="UstGurupKisaKod">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Üst Gurup Adı</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Kayısı" name="UstGurupAdi">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Üst Gurubu :</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="UrunUstGurubu">

                                                    @foreach (var item in Model.Item1)
                                                    {
                                                        <option> @item.UrunUstGurupAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="ibox-footer">
                                        <button type="submit" class="btn btn-info float-lg-right">Gurubu Kaydet</button>

                                    </div>


                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>

                            <th>Ust Gurup Adı</th>
                            <th>Gurup Kısa Kodu</th>
                            <th>Urun Gurup Kodu</th>
                            <th>Urun Gurup Adı</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Item2)
                        {
                            <tr>
                                <td>@item.TanUrunUstGuruplari.UrunUstGurupAdi</td>
                                <td>@item.UrunGurupKisaKodu</td>
                                <td>@item.UrunGurupKodu</td>
                                <td>@item.UrunGurupAdi</td>
                                <td>
                                    <a data-toggle="modal" data-target="#myModal2-@item.UrunGurupId">
                                        <i class="fa fa-check text-navy"></i>
                                    </a>

                                </td>
                            </tr>

                            <div class="modal inmodal" id="myModal2-@item.UrunGurupId" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 style="text-align:center;">@item.UrunGurupAdi</h4>
                                            <h5 style="text-align:center;">Ürün Grubunu Güncelle</h5>
                                        </div>
                                        <div class="modal-body">
                                            @using (Html.BeginForm("UrunGurubuGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal form-label-left" }))
                                            {
                                                <div class="ibox-content">
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Üst Gurup Kodu</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="UstGurupKodu" value="@item.UrunGurupKodu" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Üst Gurup Kisa Adi</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="UstGurupKisaKod" value="@item.UrunGurupKisaKodu" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Üst Gurup Adı</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="UstGurupAdi" value="@item.UrunGurupAdi" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-sm-2 col-form-label">Üst Gurubu :</label>
                                                        <div class="col-sm-10">
                                                            <select class="form-control" name="UrunUstGurubu">
                                                                <option>@item.TanUrunUstGuruplari.UrunUstGurupAdi</option>
                                                                @foreach (var item2 in Model.Item1)
                                                                {
                                                                    <option> @item2.UrunUstGurupAdi</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="id" value="@item.UrunGurupId" />
                                                </div>
                                                <div class="ibox-footer">
                                                    <button type="submit" class="btn btn-info float-lg-right">Üst Gurubu Güncelle</button>

                                                </div>


                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
$(document).ready(function () {

            $('.dataTables-example').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });
    $('.dataTables-example2').DataTable({
        pageLength: 25,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy' },
            { extend: 'csv' },
            { extend: 'excel', title: 'ExampleFile' },
            { extend: 'pdf', title: 'ExampleFile' },

            {
                extend: 'print',
                customize: function (win) {
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                }
            }
        ]

    });


        });</script>
}
